@{
    ViewData["Title"] = "Home Page";
}



<div class="card">
    <div class="card-body">
        <div class="my-3" style="margin-top: 40px;">
            <a class="btn btn-primary" asp-controller="PetugasHarian" asp-action="Create">Tambah Data</a>
        </div>
        <div class="row my-4" style="height: 50px">
            <div class="col-md-12 w-50 h-100 d-flex align-items-start filter-container">
                <label for="statusFilter" style="width: 45%;height: 100%;display: flex;align-items: center;font-size: 1rem;">Filter Berdasarkan Status :</label>
                <select class="form-control" id="statusFilter" style="width: 55%;height: 100%;font-size: 1rem;">
                    <option value="">All</option>
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                </select>
            </div>
            <div class="col-md-12 w-50 d-flex align-items-end search-container">
                <label for="searchInput" style="width: 10%;height: 100%;display: flex;align-items: center;font-size: 1rem;">Cari :</label>
                <input type="text" id="searchInput" class="form-control" style="width: 70%;height: 100%;font-size: 1rem;" />
            </div>
        </div>
        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th scope="col">Nama Petugas</th>
                        <th scope="col">Nomor Telepon</th>
                        <th scope="col">Status</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    loadTable();

    $("#statusFilter, #searchInput").on("input", function () {
        $("#tbody").empty();
        loadTable();
    });

    function loadTable() {
        var hostname = "http://10.5.0.123:9091/";
        var url = hostname + "GetAllPetugasHarian";
        var method = "GET";
        var statusFilter = $("#statusFilter").val();
        var searchInput = $("#searchInput").val();
        var jwtToken = '@ViewBag.Token';

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var statusText = item.status === 1 ? 'Aktif' : 'Tidak Aktif';
                    var newRow = '<tr align="center">' +
                        '<td>' + item.nama + '</td>' +
                        '<td>' + item.nomor_telepon + '</td>' +
                        '<td>' + statusText + '</td>' +
                        '<td>' +
                        '<a class="btn btn-outline-info btn-icon" href="/PetugasHarian/Update/' + item.kode + '" data-toggle="tooltip" data-placement="top" title="Ubah Data Petugas"><i class="bi bi-pencil-square"></i></a>' +
                        '<a class="btn btn-outline-danger btn-icon" onclick="ubahStatus(\'' + item.kode + '\')" style="margin-left: 10px;margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="Nonaktifkan Petugas"><i class="bi bi-dash-circle-fill"></i></a>' +
                        '</td>' +
                        '</tr>';

                    // Apply status filter
                    if (
                        (statusFilter === "" || item.status.toString() === statusFilter) &&
                        (searchInput === "" ||
                            item.nama.toLowerCase().includes(searchInput.toLowerCase()) ||
                            item.nomor_telepon.toLowerCase().includes(searchInput.toLowerCase()) ||
                            statusText.toLowerCase().includes(searchInput.toLowerCase())
                        )
                    ) {
                        $('#tbody').append(newRow);
                    }
                });
            },
        });
    }

    function ubahStatus(id) {
        var confirmed = confirm("Apakah Anda yakin ingin mengubah status menjadi Tidak Aktif?");
        if (!confirmed) {
            return;
        }

        var hostname = "http://10.5.0.123:9091/";
        var url = hostname + "UpdateStatusPetugasHarian?kode=" + id + "&newStatus=0";
        var method = "PATCH";
        var jwtToken = '@ViewBag.Token';
        var updateData = {
            status: '0'
        };

        console.log('Update Data:', updateData);

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            data: JSON.stringify(updateData),
            success: function (data) {
                console.log('Success:', data);
                alert("Status berhasil diubah menjadi Tidak Aktif");
                location.reload();
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error: ' + textStatus);
                alert('Error: ' + textStatus);
            }
        });
    }
</script>
