@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="my-3" style="margin-top: 40px;">
            <a class="btn btn-primary" asp-controller="PetugasHarian" asp-action="Create">Tambah Data</a>
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">NIM</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Prodi</th>
                    <th scope="col">Nomor Telepon</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>
<script>
    loadTable()

    function loadTable() {
        var hostname = "https://localhost:44307/"
        var url = hostname + "GetAllPetugasHarian"
        var method = "GET"
        
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data
                list.forEach(function (item) {
                    var newRow = '<tr>' +
                        '<td>' + item.nim + '</td>' +
                        '<td>' + item.nama + '</td>' +
                        '<td>' + item.prodi + '</td>' +
                        '<td>' + item.nomor_telepon + '</td>' +
                        '<td>' + item.status + '</td>' +
                        '<td>' +
                        '<a class="btn btn-secondary" href="/Home/Update?Name=' + item.Name + '">Update</a>' +
                        '<button class="btn btn-danger" value="' + item.nim + '" onclick="hapus(this.value)">Delete</button>' +
                        '</td>' +
                        '</tr>';
                    $('#tbody').append(newRow);
                });
            },
        });
    }

    function hapus(id) {
        var hostname = "https://localhost:44307/"
        var url = hostname + "DeletePetugasHarian?nim=" + nim
        var method = "DELETE"

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) { 
                alert("Data Berhasil Dihapus")
                location.reload();
            }
        })
    }
</script>