@{
    string name = ViewBag.Name;
    ViewData["Title"] = "Petugas Harian";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ubah Petugas Harian</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @*<label name="kode" class="control-label">Kode</label>
                            *@<input type="hidden" name="kode" id="kode" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label for="nama" class="control-label">Nama</label>
                            <input type="text" name="nama" id="nama" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="nomor_telepon" class="control-label">Nomor Telepon</label>
                            <input type="text" name="nomor_telepon" id="nomor_telepon" class="form-control" required />
                        </div>
                        <div class="form-group" style="display: none;">
                            <select name="status" id="status" class="form-control" >
                                <option value="1">Aktif</option>
                            </select>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="simpan()" style="margin-right: 10px;">Simpan</button>
                            <button class="btn btn-secondary" onclick="batal()">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    loadPetugas();

    function loadPetugas() {
        
        var hostname = "http://10.5.0.123:9091/";
        var url = hostname + "GetPetugasHarian?kode=" + '@name';
        var method = "GET";
        var jwtToken = '@ViewBag.Token';
        console.log('@name');
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data) {
                //console.log(data);
                var item = data.data
                kode.value = item.kode
                nama.value = item.nama
                nomor_telepon.value = item.nomor_telepon
                status.value = item.status
            },
        });
    }

    function simpan() {
        var kode = document.getElementById("kode").value;
        var nama = document.getElementById("nama").value;
        var nomor_telepon = document.getElementById("nomor_telepon").value;
        var status = document.getElementById("status").value;

        var hostname = "http://10.5.0.123:9091/";
        var url = hostname + "UpdatePetugasHarian";
        var method = "PUT";
        var jwtToken = '@ViewBag.Token';

        var input = {
            kode: kode,
            nama: nama,
            nomor_telepon: nomor_telepon,
            status: status
        }

        var data = JSON.stringify(input);
        console.log(data);

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    swal("Berhasil", "Data Petugas Harian berhasil diubah", "success").then(() => {
                        window.location.href = "/PetugasHarian/Index";
                    });
                } else {
                    alert("Gagal menyimpan/memperbarui Data Petugas Harian. Kode Status: " + xhr.status);
                }
            },
            error : function(error) {
                console.log(error);
                swal("Kesalahan", "Gagal menyimpan Data Petugas Harian", "error")
            }
        });
    }

    function batal() {
        history.back();
    }
</script>
