
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.55rem;
}.group-1-tAV {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-1-tAV .clock9695486-2-qrR {
  margin-right: 0.65rem;
  width: 2.9rem;
  height: 2.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1-tAV .jadwal-sholat-Ath {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f6f4eb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
