
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194rem;
}.jadwal-petugas-q61 {
  box-sizing: border-box;
  padding-right: 7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #e7eefa;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 {
  margin-right: 5.9rem;
  width: 13.2rem;
  height: 111.4rem;
  position: relative;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .rectangle-1-73X {
  width: 10.4rem;
  height: 111.4rem;
  position: absolute;
  left: 1rem;
  top: 0;
  background-color: #190482;
  border-radius: 1.5rem;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .rectangle-26-S5o {
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 1rem;
  top: 37.7rem;
  background-color: #e7eefa;
  border-radius: 2.5rem;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .line-17-MiZ {
  width: 12rem;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 19.2rem;
  background-color: #ffffff;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .megaphone2056523-1-hGd {
  width: 4.1rem;
  height: 4.3rem;
  position: absolute;
  left: 3.9rem;
  top: 51.8rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .note5837281-1-ps3 {
  width: 3.5rem;
  height: 3.4rem;
  position: absolute;
  left: 3.8rem;
  top: 39.7rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .calendar4818033-1-Z3w {
  width: 4.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.9rem;
  top: 26.2rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-khd3-yi1 .home9385258-1-5Y5 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 3rem;
  top: 10.4rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM {
  margin-top: 0.6rem;
  width: 167.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo {
  margin: 0rem 0.9rem 3.8rem 0rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .teks-box-cari-H8M {
  margin: 4.1rem 102.9rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 3.6rem 0.6rem 4.05rem;
  display: flex;
  align-items: center;
  background-color: #fafbff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .teks-box-cari-H8M .search-b93 {
  margin-right: 26.45rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ad9a9a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .teks-box-cari-H8M .icon-search-outline-gwB {
  margin-bottom: 0.5rem;
  width: 2.3rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .auto-group-zwbj-zS5 {
  margin-bottom: 1.2rem;
  width: 21.3rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .auto-group-zwbj-zS5 .rectangle-20-vad {
  width: 18.8rem;
  height: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 1.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(183, 212, 255, 0.7300000191);
  border-radius: 2rem;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .auto-group-zwbj-zS5 .profile3135715-1-cyF {
  width: 6.5rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .auto-group-zwbj-zS5 .dkm-xGR {
  width: 5.5rem;
  height: 3rem;
  position: absolute;
  left: 7.2rem;
  top: 2.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f6f4eb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-83cm-Lyo .auto-group-zwbj-zS5 .control7184152-1-GY1 {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  left: 15.8rem;
  top: 2.2rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-ubc5-b4V {
  margin: 0rem 4.898rem 1.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-ubc5-b4V .data-petugas-KWH {
  margin: 0rem 57.25rem 4.3rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-ubc5-b4V .plus7500065-1-ENM {
  margin: 3.7rem 1.5rem 0rem 0rem;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-ubc5-b4V .polygon-1-A17 {
  margin-bottom: 2.9976rem;
  width: 1.4021rem;
  height: 1.2024rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh {
  margin-left: 1.2rem;
  width: calc(100% - 1.2rem);
  height: 84.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX {
  margin-right: 0.9374rem;
  box-sizing: border-box;
  padding: 5.2rem 5.063rem 0rem 3.4rem;
  width: 163.9626rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(104, 126, 255, 0.1199999973);
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs {
  margin: 0rem 10.1rem 2rem 6.2rem;
  width: calc(100% - 16.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs .nim-Ev5 {
  margin: 0.6rem 20.4rem 0rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs .nama-MUu {
  margin-right: 24.4rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs .notelpn-VLD {
  margin-right: 24.95rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs .prodi-pdP {
  margin-right: 23.55rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-3pzh-XVs .status-9vZ {
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV {
  margin: 0rem 0.4rem 1.7rem 0.3rem;
  width: calc(100% - 0.7rem);
  height: 6.4rem;
  position: relative;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .clock9695486-1-Cdw {
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  left: 85.9rem;
  top: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .rectangle-33-jNy {
  width: 154.8rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e7eefa;
  border-radius: 2rem;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .item-0230220065-fnR {
  width: 15.5rem;
  height: 3.1rem;
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .park-jeongwoo-NB3 {
  width: 18.3rem;
  height: 3.1rem;
  position: absolute;
  left: 27.5rem;
  top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .item-0881024046360-HYu {
  width: 19.9rem;
  height: 3.1rem;
  position: absolute;
  left: 62.2rem;
  top: 2.4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .arsitektur-CQy {
  width: 11.6rem;
  height: 3.1rem;
  position: absolute;
  left: 101.95rem;
  top: 1.9rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .auto-group-ydyk-gvV .aktif-tob {
  width: 5.5rem;
  height: 3.1rem;
  position: absolute;
  left: 137.4rem;
  top: 1.9rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-34-17X {
  margin: 0rem 0rem 1.7rem 0.1rem;
  width: 155.4rem;
  height: 6.7rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-35-X5s {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 7rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-36-fC5 {
  margin: 0rem 0.3rem 1.4rem 0rem;
  width: 155rem;
  height: 6.9rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-37-NMP {
  margin: 0rem 0rem 1.6rem 0.4rem;
  width: 155.1rem;
  height: 7.1rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-38-tKj {
  margin: 0rem 0.4rem 1.7rem 0.2rem;
  width: calc(100% - 0.6rem);
  height: 6.6rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-39-zNm {
  margin: 0rem 0.4rem 1.7rem 0.2rem;
  width: calc(100% - 0.6rem);
  height: 6.6rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-40-JeM {
  margin: 0rem 0.4rem 1.8rem 0.2rem;
  width: calc(100% - 0.6rem);
  height: 6.6rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-tfq5-SDX .rectangle-41-E2D {
  margin: 0rem 0.4rem 0rem 0.2rem;
  width: calc(100% - 0.6rem);
  height: 5.4rem;
  background-color: #e7eefa;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-slam-hRb {
  margin-top: 0.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-slam-hRb .item-7-EgR {
  margin-bottom: 1.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-slam-hRb .item-14-x6d {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-slam-hRb .item-21-fmj {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-petugas-q61 .auto-group-gpbb-QaM .auto-group-aqad-txh .auto-group-slam-hRb .item-28-bQV {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
