
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 193rem;
}.login-user--Ft5 {
  width: 100%;
  height: 111.4rem;
  position: relative;
  overflow: hidden;
  background-color: #190482;
}
.login-user--Ft5 .rectangle-28-CHX {
  width: 173.6383rem;
  height: 83.3055rem;
  position: absolute;
  left: 9.3003rem;
  top: 13.5945rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #b6cef5;
  border-radius: 16.3rem;
}
.login-user--Ft5 .rectangle-29-Ukq {
  width: 83.9rem;
  height: 79rem;
  position: absolute;
  left: 96.1rem;
  top: 16.1rem;
  background-color: #e7eefa;
  border-radius: 11.2rem;
}
.login-user--Ft5 .item-1-10-Pso {
  width: 107.2rem;
  height: 137.6rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.login-user--Ft5 .rectangle-30-KFf {
  width: 60.1rem;
  height: 8.6rem;
  position: absolute;
  left: 108.1rem;
  top: 45.2rem;
  background-color: #c6dbfd;
  border-radius: 2rem;
}
.login-user--Ft5 .rectangle-31-EdX {
  width: 60.1rem;
  height: 8.8rem;
  position: absolute;
  left: 108.1rem;
  top: 61.1rem;
  background-color: #c9ddff;
  border-radius: 2rem;
}
.login-user--Ft5 .rectangle-32-A1P {
  width: 38.4rem;
  height: 8.1rem;
  position: absolute;
  left: 118.7rem;
  top: 77.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #687eff;
  border-radius: 2rem;
}
.login-user--Ft5 .login-Sjb {
  width: 26rem;
  height: 11.7rem;
  position: absolute;
  left: 124.85rem;
  top: 22.3rem;
  text-align: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #190482;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-user--Ft5 .masukan-akun-anda-jTo {
  width: 36.2rem;
  height: 3.9rem;
  position: absolute;
  left: 110.95rem;
  top: 47.2rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(25, 4, 130, 0.3700000048);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-user--Ft5 .masukan-paswoard-anda-RLd {
  width: 45.1rem;
  height: 3.9rem;
  position: absolute;
  left: 109.6rem;
  top: 63.3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(25, 4, 130, 0.3700000048);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-user--Ft5 .masuk-QiM {
  width: 14.6rem;
  height: 4.9rem;
  position: absolute;
  left: 130.55rem;
  top: 78.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0e0056;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
