
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 40.4rem;
}.menu-qiH {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.menu-qiH .property-1default-NTK {
  box-sizing: border-box;
  padding: 1.5rem 2.7rem 1.8rem 2.7rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.menu-qiH .property-1variant2-csT {
  box-sizing: border-box;
  padding: 1.5rem 2.7rem 1.8rem 2.7rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #39a7ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(104, 126, 255, 0.4099999964);
  border-radius: 5rem;
  flex-shrink: 0;
}
.menu-qiH .property-1variant3-Hih {
  box-sizing: border-box;
  padding: 1.5rem 2.7rem 1.8rem 2.7rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #39a7ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e7eefa;
  border-radius: 5rem;
  flex-shrink: 0;
}
