
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 218.2rem;
}.pilihan-hJZ {
  box-sizing: border-box;
  padding: 2rem 19.8rem 2rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.6rem;
  align-items: flex-start;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.pilihan-hJZ .select0-1q3 {
  width: 36.4rem;
  row-gap: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pilihan-hJZ .select0-1q3 .menu-Z5s {
  box-sizing: border-box;
  padding: 1.5rem 4.65rem 1.8rem 4.65rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select0-1q3 .menu-Z5s .menu-Z5s-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select0-1q3 .menu-Z5s .menu-Z5s-sub-1 {
}
.pilihan-hJZ .select0-1q3 .menu-5TX {
  box-sizing: border-box;
  padding: 1.5rem 3rem 2.7rem 3rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select0-1q3 .menu-yJ1 {
  box-sizing: border-box;
  padding: 1.5rem 1.95rem 2.7rem 1.95rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select0-1q3 .menu-rMo {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 2.7rem 3.1rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select1-jgV {
  width: 36.4rem;
  cursor: pointer;
  row-gap: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pilihan-hJZ .select1-jgV .menu-Ue5 {
  box-sizing: border-box;
  padding: 1.5rem 4.6rem 1.8rem 4.6rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #e7eefa;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select1-jgV .menu-Ue5 .menu-Ue5-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select1-jgV .menu-Ue5 .menu-Ue5-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select1-jgV .menu-KHK {
  box-sizing: border-box;
  padding: 1.5rem 3rem 2.7rem 3rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select1-jgV .menu-oCV {
  box-sizing: border-box;
  padding: 1.5rem 1.95rem 2.7rem 1.95rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select1-jgV .menu-h2y {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 2.7rem 3.1rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select2-a6m {
  width: 36.4rem;
  row-gap: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pilihan-hJZ .select2-a6m .menu-hx5 {
  box-sizing: border-box;
  padding: 1.5rem 4.65rem 1.8rem 4.65rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select2-a6m .menu-hx5 .menu-hx5-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select2-a6m .menu-hx5 .menu-hx5-sub-1 {
}
.pilihan-hJZ .select2-a6m .menu-GNu {
  box-sizing: border-box;
  padding: 1.5rem 3rem 2.7rem 3rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e7eefa;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select2-a6m .menu-AjB {
  box-sizing: border-box;
  padding: 1.5rem 1.95rem 2.7rem 1.95rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select2-a6m .menu-rc1 {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 2.7rem 3.1rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select3-9LD {
  width: 36.4rem;
  cursor: pointer;
  row-gap: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pilihan-hJZ .select3-9LD .menu-5jf {
  box-sizing: border-box;
  padding: 1.5rem 4.65rem 1.8rem 4.65rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select3-9LD .menu-5jf .menu-5jf-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select3-9LD .menu-5jf .menu-5jf-sub-1 {
}
.pilihan-hJZ .select3-9LD .menu-tBK {
  box-sizing: border-box;
  padding: 1.5rem 3rem 2.7rem 3rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select3-9LD .menu-NsB {
  box-sizing: border-box;
  padding: 1.5rem 1.95rem 2.7rem 1.95rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e7eefa;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select3-9LD .menu-UvD {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 2.7rem 3.1rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select4-yc5 {
  width: 36.4rem;
  row-gap: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pilihan-hJZ .select4-yc5 .menu-hny {
  box-sizing: border-box;
  padding: 1.5rem 4.65rem 1.8rem 4.65rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select4-yc5 .menu-hny .menu-hny-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
}
.pilihan-hJZ .select4-yc5 .menu-hny .menu-hny-sub-1 {
}
.pilihan-hJZ .select4-yc5 .menu-gQ1 {
  box-sizing: border-box;
  padding: 1.5rem 3rem 2.7rem 3rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select4-yc5 .menu-ye1 {
  box-sizing: border-box;
  padding: 1.5rem 1.95rem 2.7rem 1.95rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e7eefa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #687eff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pilihan-hJZ .select4-yc5 .menu-szH {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 2.7rem 3.1rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #687eff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e7eefa;
  border-radius: 5rem;
  flex-shrink: 0;
}
