
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 193rem;
}.prg-4-bJy {
  box-sizing: border-box;
  padding: 13.6rem 11.3rem 19.9rem 11.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 14.3rem;
  align-items: center;
  background-color: #e4f5f9;
}
.prg-4-bJy .auto-group-jhqv-72R {
  width: 47.3rem;
  height: 77.9rem;
  flex-shrink: 0;
}
.prg-4-bJy .auto-group-jhqv-72R .rectangle-55-3Rs {
  width: 100%;
  height: 77.9rem;
  background-color: #ffffff;
}
.prg-4-bJy .rectangle-56-zM7 {
  width: 47.3rem;
  height: 77.9rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.prg-4-bJy .rectangle-57-vkZ {
  width: 47.3rem;
  height: 77.9rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
