.login-user-2-child {
  position: absolute;
  top: -343px;
  left: -421px;
  border-radius: 50%;
  background-color: var(--color-royalblue-200);
  width: 1134px;
  height: 1022px;
}
.ellipse-div,
.login-user-2-inner,
.login-user-2-item {
  position: absolute;
  top: -235px;
  left: -329px;
  border-radius: 50%;
  background-color: var(--color-royalblue-300);
  width: 817px;
  height: 726px;
}
.ellipse-div,
.login-user-2-inner {
  top: -173px;
  left: -206px;
  background-color: var(--color-royalblue-100);
  width: 572px;
  height: 545px;
}
.ellipse-div {
  top: 512px;
  left: 1240px;
  background-color: var(--color-royalblue-200);
  width: 1134px;
  height: 1022px;
}
.login-user-2-child1,
.login-user-2-child2 {
  position: absolute;
  top: 732px;
  left: 1521px;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 572px;
  height: 545px;
}
.login-user-2-child2 {
  top: 640px;
  left: 1398px;
  background-color: var(--color-royalblue-300);
  width: 817px;
  height: 726px;
}
.login-user-2-child3 {
  position: absolute;
  top: -1554px;
  left: 436px;
  border-radius: 50%;
  background-color: rgba(135, 196, 255, 0.27);
  width: 1134px;
  height: 1022px;
}
.login-user-2-child4 {
  position: absolute;
  top: -1294px;
  left: 717px;
  border-radius: 50%;
  background-color: #87c4ff;
  width: 572px;
  height: 545px;
}
.login-user-2-child5 {
  position: absolute;
  top: -1386px;
  left: 594px;
  border-radius: 50%;
  background-color: rgba(135, 196, 255, 0.54);
  width: 817px;
  height: 726px;
}
.rectangle-div {
  position: absolute;
  top: 236px;
  left: 235.4px;
  background-color: #daebfc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1459px;
  height: 766.3px;
  transform: rotate(0.03deg);
  transform-origin: 0 0;
  mix-blend-mode: normal;
}
.masuk {
  position: absolute;
  top: 347px;
  left: 336px;
  font-size: 96px;
  display: inline-block;
  color: #231f20;
  width: 421px;
  height: 97px;
}
.login-user-2-child6,
.login-user-2-child7 {
  position: absolute;
  top: 536px;
  left: 317px;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  width: 440px;
  height: 61px;
}
.login-user-2-child7 {
  top: 669px;
  height: 60px;
}
.ellipse-icon {
  position: absolute;
  top: 233px;
  left: 1053px;
  width: 650.5px;
  height: 775.1px;
}
.login-user-2-child8 {
  position: absolute;
  top: 348.8px;
  left: 1303px;
  width: 397px;
  height: 545.3px;
}
.login-user-2-child9 {
  position: absolute;
  top: 257px;
  left: 1180px;
  width: 518.1px;
  height: 726.1px;
}
.kata-sandi,
.masukan-kata-sandi {
  position: absolute;
  top: 687px;
  left: 202px;
  font-weight: 500;
  display: inline-block;
  width: 462px;
  height: 33px;
}
.kata-sandi {
  top: 642px;
  left: 317px;
  color: var(--color-navy-100);
  width: 128px;
  height: 20px;
}
.masukan-nama-pengguna {
  font-size: var(--font-size-xl);
}
.masukan-nama-pengguna-container {
  position: absolute;
  top: 545px;
  left: 244px;
  font-weight: 500;
  display: inline-block;
  width: 429px;
  height: 39px;
  font-size: var(--font-size-13xl);
}
.nama-pengguna1 {
  font-size: var(--font-size-xl);
  color: var(--color-navy-100);
}
.nama-pengguna {
  position: absolute;
  top: 495px;
  left: 305px;
  font-weight: 500;
  display: inline-block;
  width: 190px;
  height: 36px;
  font-size: var(--font-size-13xl);
}
.icon {
  position: absolute;
  top: 321px;
  left: 890px;
  width: 826px;
  height: 682px;
  object-fit: cover;
}
.button-masuk-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.masuk1 {
  position: absolute;
  top: 16.98%;
  left: 18.13%;
  font-weight: 500;
}
.button-masuk {
  position: absolute;
  top: 839px;
  left: 451px;
  width: 171px;
  height: 53px;
  font-size: 30px;
  color: #0f0057;
}
.login-user-2 {
  position: relative;
  background-color: #eef7fc;
  width: 100%;
  height: 1114px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-navy-200);
  font-family: var(--font-inter);
}
