#container-login {
  min-height: calc(100vh - 78px);
  height: calc(100vh - 78px);
}

#carouselDashboard {
  display: flex;
  align-items: center;
  height: 100%;
}

.h-18 {
  height: 18% !important;
}

.dashboard-page {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer-login {
  background-color: transparent;
  color: black;
  font-size: 20px;
  text-align: center;
}

.logo-asy-syabab {
  height: 150px;
  width: 150px;
  padding: 19px;
}

.logo-shafa {
  height: 150px;
  width: 150px;
  padding-bottom: 19px;
  padding-top: 19px;
}

.title-asy-syabab {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

.title-time-now{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.text-time-now {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 5px #7B66FF;
}

.main-panel-dashboard {
  margin-top: 170px;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
}

.dashboard-wrapper {
  height: 100%;
}

.slide-jadwal {
  /* max-height: 640px;
  min-height: 600px; */
  height: 600px;
}

.container-jadwal {
  margin-top: 3rem;
}

.container-jadwal-shalat{
  width: inherit;
  height: 100%;
}
.carousel-inner {
  height: inherit;
}

.title-jadwal {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 20px 0px 25px 0px;
}

.card-jadwal {
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #32417b62;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255 255 255 / 40%);
}

.card-jadwal-shalat {
  height: 100%;
  width: auto;
  min-width: 16rem;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.card-jadwal-shalat .card-title {
  color: #EEF5B2;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-jadwal-shalat .card-text {
  color: #5EDFFF;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 5rem;
  /* text-shadow: 0 0 5px #39A7FF; */
}

.jadwal-shalat {
  height: auto;
}

.jadwal-petugas {
  align-items: top;
}

.pengumuan {
  align-items: top;
}

.card-jadwal-petugas {
}

.card-jadwal-petugas .card-body {
  padding: 1rem;
  display: flex;
}

.card-jadwal-petugas .card-title {
  color: #46B5D1;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.card-jadwal-petugas .card-text {
  color: #5EDFFF;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.icon-jadwal-petugas {
  width: 70px;
  height: 70px;
}

.jadwal-body {
  display: block;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.jadwal-body .nama-petugas {
  height: 2rem;
  white-space: nowrap; 
  will-change: transform;
  animation: marquee 15s linear infinite; 
}

.jadwal-body .card-title-tugas {
  font-size: 20px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
  }
}

@keyframes pause {
  0%,
  100% {
    transform: translateX(0); 
  }
}

.jadwal-divider {
  height: 2px;
  margin: 0.5rem;
  background-color: #fff;
}

.card-pengumuman {
  min-height: 300px;
  height: auto !important;
  max-height: 500px;
  background-color: #1365df57;
}

.card-pengumuman .card-body {
  /* padding: 1rem;
  display: flex; */
}

.card-pengumuman .card-title {
  color: #DFF6FF;
  text-align: center;
  font-size: 30px;
}

.card-pengumuman .card-text {
  color: #DFF6FF;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

.card-running-text {
  width: 100rem;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #32417b62;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255 255 255 / 40%);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.card-running-text .card-body {
  /* margin: 0px; */
  padding: 1rem;
}

.card-running-text .card-body .card-text {
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

.school-address {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  margin-top: 0px;
}

.footer-dashboard {
  background-color: transparent;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding: 10px;
}