.table-container {
    max-height: 595px;
    overflow-y: auto;
}

.table td, .table thead th {
    font-size: 1.2rem;
    line-height: normal;
}
.table thead tr {
    position: sticky;
    top: 0;
    background-color: white;
}

.table thead th {
    position: relative;
}

.table thead th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black; /* Warna garis bawah */
}

.table thead th {
    text-align: center;
}

.judul {
    max-width: 30rem;
}
.jenis {
    max-width: 20rem;
}
.isi {
    max-width: 60rem;
}
.tanggal-mulai {
    max-width: 30rem;
}

.tanggal-selesai {
    max-width: 30rem;
}
.status {
    max-width: 30rem;
}