@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Profil Tim Developer";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>@ViewData["Title"] - Shafa Al-Firdaus</title>
    <link rel="shortcut icon" href="~/assets/images/logo-shafa.svg" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&amp;display=swap" />
    <link rel="stylesheet" href="~/assets/css/vertical-layout-light/profile.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <style>
        body {
            background: url('@Url.Content("~/assets/images/profile/polygon.jpg")') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- Card for the first team member -->
    <div style="width: 100%; display:block;">
        <div class="row my-margin">
            <h1 class="my-title">Team Developers</h1>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/fadila-abidah.jpeg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Fadila Abidah<br /><span>UI/UX Designer</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="#"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/yejiHwang21"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/fdlhabdh_?igsh=emd2OG50c3gwYmgy"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/iskandar-maulana.jpg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Iskandar Maulana<br /><span>Project Manager</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="http://discordapp.com/users/692584103895367733"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/IskandarMaulana"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/iskndr_mln?igsh=ZTY3OHM3bXowMzZ4"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/anggun-harlisa.jpeg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Anggun Harlisa Puspitasari<br /><span>Data Analyst</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="#"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/anggunharlisaa"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/anggunharlisaa?igsh=cXA0YjZwbzRmMDg0"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/dhika-alamsyah.jpeg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Dhika Alamsyah Putra<br /><span>Programmer</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="http://discordapp.com/users/1194086724427579442"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/alamsyhptr"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/dhiksyhptr_?igsh=ZGNjOWZkYTE3MQ=="><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/fauzan-fahrul.jpeg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Fauzan Fahrul Rozy<br /><span>Programmer</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="http://discordapp.com/users/1194091161267220570"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/fauzanfr16"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/fauzan.fr16?igsh=MW82djk3dmQ3aHp3bA=="><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="~/assets/images/profile/viansyah-shine.jpeg" />
                </div>
                <div class="content">
                    <div class="detail">
                        <h2>Viansyah Shine Ekalaya<br /><span>Programmer</span></h2>
                        <ul class="sci">
                            <li>
                                <a href="http://discordapp.com/users/1142947796186570762"><i class="fab fa-discord"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/shinegelael"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="http://linkedin.com/in/viansyah-shine-2464302a9"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vianshine?igsh=MXBidGpwYnhmb2l2aQ%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
