
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 5rem;
}.item-04-27-7Sy {
  width: 100%;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  height: 1.9rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Inter, 'Source Sans Pro';
}
