
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 94.2rem;
}.abstract-composition-with-colorful-plastic-objects-8ED {
  height: 65.4rem;
  object-fit: contain;
  vertical-align: top;
  width: 100%;
}
