
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 21.1rem;
}.button-masuk-Viy {
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;

  .stateinterface-e65 {
    width: 100%;
    line-height: 1.2125;
    color: #0e0056;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 2rem;
    height: 5.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Inter, 'Source Sans Pro';
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #80b3ff;
    border-radius: 2rem;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
  }
  .statevariant2-5hB {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    align-items: center;
    height: 5.3rem;
    text-align: center;
    line-height: 1.2125;
    color: #0e0056;
    white-space: nowrap;
    display: flex;
    font-size: 3rem;
    font-weight: 500;
    background-color: #ffffff;
    width: 100%;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    flex-shrink: 0;
  }
}
