
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194.4rem;
}.dashboard-user2-uSq {
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 3.7rem;
  width: 100%;
  display: flex;

  .auto-group-gbpp-DCd {
    margin-right: 0.2rem;
    width: 13.6rem;
    height: 112.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-84h {
      background-color: #190482;
      width: 10.6rem;
      height: 102.2rem;
      position: absolute;
      left: 1.4rem;
      top: 10.5rem;
    }
    .item-1-10-eYq {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 13.3rem;
      height: 13.8rem;
      position: absolute;
    }
    .line-17-Zfo {
      background-color: #ffffff;
      width: 12rem;
      height: 0.5rem;
      position: absolute;
      left: 0;
      top: 11.8rem;
    }
    .megaphone2056523-1-hX7 {
      position: absolute;
      left: 4.3rem;
      top: 53.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.1rem;
      height: 4.3rem;
    }
    .note5837281-1-prd {
      height: 3.4rem;
      position: absolute;
      left: 4.2rem;
      top: 41rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.5rem;
    }
    .calendar4818033-1-AQh {
      height: 4.8rem;
      position: absolute;
      left: 4.3rem;
      top: 27.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.3rem;
    }
    .rectangle-42-gtq {
      top: 15.6rem;
      background-color: #e7eefa;
      border-radius: 2.5rem;
      width: 12.2rem;
      height: 7.2rem;
      position: absolute;
      left: 1.4rem;
    }
    .home9385258-1-CcH {
      height: 5.8rem;
      position: absolute;
      left: 3.1rem;
      top: 16.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 5.8rem;
    }
  }
  .auto-group-t5rh-6xZ {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 1.7rem;
    width: 176.9rem;

    .auto-group-xeim-q9T {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 6.9rem 4.2rem 0rem;
      width: calc(100% - 6.9rem);
      height: 6.9rem;
      display: flex;

      .teks-box-cari-9A9 {
        flex-shrink: 0;
        margin: 2rem 105.9rem 0.9rem 0rem;
        box-sizing: border-box;
        align-items: center;
        background-color: rgba(183, 212, 255, 0.7300000191);
        border-radius: 2rem;
        padding: 0.9rem 3.6rem 0.6rem 4.05rem;
        height: calc(100% - 2.9rem);
        display: flex;

        .search-EBb {
          font-size: 2rem;
          font-weight: 400;
          color: #ad9a9a;
          flex-shrink: 0;
          margin-right: 26.45rem;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-search-outline-wLu {
          margin-bottom: 0.5rem;
          width: 2.3rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-bspk-DpD {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 21.3rem;

        .rectangle-20-AjT {
          left: 2.5rem;
          top: 1.6rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(183, 212, 255, 0.7300000191);
          border-radius: 2rem;
          width: 18.8rem;
          height: 4.4rem;
          position: absolute;
        }
        .profile3135715-1-fRK {
          width: 6.5rem;
          height: 6.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .dkm-BuT {
          left: 7.2rem;
          top: 2.3rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.5rem;
          height: 3rem;
          position: absolute;
          text-align: center;
          font-size: 2.4rem;
          color: #f6f4eb;
        }
        .control7184152-1-tos {
          width: 3.2rem;
          height: 3rem;
          position: absolute;
          left: 15.8rem;
          top: 2.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-qwuv-1tV {
      height: 55.2rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 11.5rem 1.35rem;
      width: calc(100% - 1.35rem);

      .auto-group-i4zm-wGM {
        margin-right: 3.6799rem;
        width: 122.1701rem;
        height: 100%;
        flex-shrink: 0;

        .dashboard-3KP {
          white-space: nowrap;
          width: 100%;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #190482;
          margin-bottom: 6.8rem;
          text-align: center;
          font-size: 4rem;
        }
        .auto-group-hoaz-mWH {
          box-sizing: border-box;
          height: 43.5rem;
          display: flex;
          align-items: center;
          background-color: #687eff;
          margin-left: 7.4465rem;
          padding: 1.9rem 1.102rem 2.2rem 1.904rem;
          width: calc(100% - 7.4465rem);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;

          .auto-group-p3zh-51B {
            margin: 0rem 8.3rem 5.9rem 0rem;
            width: 56rem;
            flex-shrink: 0;

            .hi-takhmir-VDK {
              width: 100%;
              text-align: center;
              line-height: 1.2125;
              white-space: nowrap;
              margin-bottom: 1.7rem;
              font-size: 6.4rem;
              font-weight: 800;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .selamat-datang-di-sistem-informasi-mushollah-asy-syabab-zvm {
              margin-bottom: 6.2rem;
              width: 100%;
              text-align: center;
              font-size: 2rem;
              line-height: 1.2125;
              font-weight: 500;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-majd-tWM {
              margin: 0rem 12.5rem 1.6rem 4.1rem;
              width: calc(100% - 16.6rem);
              display: flex;
              align-items: center;

              .selasa-DYd {
                font-size: 3.2rem;
                font-weight: 400;
                flex-shrink: 0;
                margin: 0.7rem 19.6rem 0rem 0rem;
                text-align: center;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .time-8fb {
                text-align: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 3.2rem;
                font-weight: 400;
                color: #ffffff;
                white-space: nowrap;
              }
            }
            .auto-group-ghjz-Txm {
              width: calc(100% - 8.8rem);
              height: 5.9rem;
              display: flex;
              align-items: center;
              margin: 0rem 6.2rem 0rem 2.6rem;

              .auto-group-m3nr-nVF {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.1rem 14.7rem 0.1rem 0rem;
                height: calc(100% - 0.2rem);
                align-items: center;

                .rabiul-akhir-1445-i81 {
                  flex-shrink: 0;
                  margin-bottom: 1.7rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 400;
                  color: #ffffff;
                }
                .oktober-2023-pRw {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  color: #ffffff;
                  white-space: nowrap;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  margin-right: 0.6rem;
                  text-align: center;
                  font-weight: 400;
                }
              }
              .item-11-12-27-Ycq {
                text-align: center;
                font-size: 4.8rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-8ucq-sQD {
            width: 47.4181rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .clock9695486-1-RAq {
              position: absolute;
              left: 21.4999rem;
              top: 13.4004rem;
              object-fit: cover;
              vertical-align: top;
              width: 0.2rem;
              height: 0.2rem;
            }
            .rectangle-4-96q {
              height: 39.4004rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #b7d4ff;
              border-radius: 2rem;
              width: 47.4181rem;
            }
            .rectangle-16-epH {
              border-radius: 2rem;
              width: 43.1rem;
              height: 25.6rem;
              position: absolute;
              left: 1.7999rem;
              top: 11.1004rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #e7eefa;
            }
            .harap-nonaktifkan-handphone-saat-berada-di-musholla-asy-syabab-jaga-ketertiban-dalam-musholla-agar-pelaksanaan-shalat-lebih-khusyuk-vG1 {
              width: 39.3rem;
              height: 14.6rem;
              top: 15.2004rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              left: 3.8999rem;
              font-size: 2.4rem;
              font-weight: 400;
              color: #000000;
            }
            .megaphone2056523-2-yVB {
              vertical-align: top;
              width: 8.7rem;
              height: 8.2rem;
              position: absolute;
              left: 3.6999rem;
              top: 0.6004rem;
              object-fit: cover;
            }
            .group-2-6Zo {
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 25.5rem;
              height: 6.3rem;
              position: absolute;
              top: 1.6004rem;
              font-size: 3.2rem;
              background-color: #687eff;
              border-radius: 2rem;
              line-height: 1.2125;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #f6f4eb;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
              left: 19.4999rem;
              text-align: center;
            }
          }
        }
      }
      .auto-group-55ez-U4Z {
        position: relative;
        flex-shrink: 0;
        width: 49.7rem;
        height: 54.5rem;

        .rectangle-20-yGD {
          width: 48.7rem;
          height: 25.4rem;
          position: absolute;
          left: 1rem;
          top: 29.1rem;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #e7eefa;
          border-radius: 2rem;
        }
        .rectangle-18-fPw {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #80b3ff;
          border-radius: 2rem;
          width: 48.7rem;
          height: 25.5rem;
          position: absolute;
          left: 1rem;
          top: 5.6rem;
        }
        .group-5-9K7 {
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 2rem;
          width: 49.7rem;

          .rectangle-17-tGh {
            height: 7rem;
            position: absolute;
            left: 1rem;
            top: 0;
            box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #687eff;
            border-radius: 2rem;
            width: 48.7rem;
          }
          .kalender-Bmb {
            white-space: nowrap;
            left: 2.1rem;
            font-size: 4rem;
            font-family: Inter, 'Source Sans Pro';
            top: 0.8rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            width: 16.8rem;
            height: 4.9rem;
            position: absolute;
          }
          .item-2023-VnH {
            left: 44.1rem;
            font-size: 2rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 5rem;
            height: 2.5rem;
            position: absolute;
            top: 4.2rem;
            text-align: center;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .group-4-baR {
            box-sizing: border-box;
            padding: 0.5rem 1.998rem 0.2rem 2.45rem;
            width: 16.1rem;
            height: 3.2rem;
            display: flex;
            align-items: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2rem;
            position: absolute;
            left: 27.4rem;
            top: 1.8rem;
            background-color: rgba(127, 127, 127, 0.1800000072);

            .oktober-u5K {
              text-align: center;
              font-size: 2rem;
              color: #ffffff;
              flex-shrink: 0;
              margin-right: 2.55rem;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .polygon-1-2fj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2976rem;
              width: 1.4021rem;
              height: 1.2024rem;
            }
          }
        }
        .oktober-17-W57 {
          height: 1.9rem;
          position: absolute;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #7752fe;
          white-space: nowrap;
          width: 7.8rem;
          left: 2.85rem;
          top: 38.4rem;
          font-size: 1.5rem;
          font-weight: 400;
        }
        .group-6-QwB {
          height: 2rem;
          position: absolute;
          left: 3.25rem;
          top: 8.6rem;
          display: flex;
          align-items: flex-end;
          width: 43.35rem;

          .turs-LK3 {
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.9rem;
            text-align: center;
            line-height: 1.2125;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
          .mon-Fwo {
            color: #ffffff;
            margin: 0rem 3.75rem 0.3rem 0rem;
            text-align: center;
            font-size: 1.4rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .tues-8kh {
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            margin-right: 3.7rem;
            font-size: 1.4rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .wnd-fkd {
            text-align: center;
            font-weight: 400;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 3.75rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #ffffff;
          }
          .thur-p7j {
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.4rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
          }
          .fri-9vh {
            white-space: nowrap;
            margin-right: 4.85rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            flex-shrink: 0;
          }
          .sat-6b3 {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .maulid-nabi-qYd {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 1.9rem;
          position: absolute;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 400;
          width: 8.4rem;
          left: 16.7rem;
          top: 38.1rem;
          color: #7752fe;
          white-space: nowrap;
        }
        .item-8-x7T {
          width: 0.9rem;
          height: 1.7rem;
          left: 4.25rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 15.5rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .item-15-fXf {
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          left: 3.9rem;
          top: 19.2rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          width: 1.6rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
        }
        .item-16-kJD {
          line-height: 1.2125;
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          top: 19.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 1.6rem;
          left: 10.7rem;
          text-align: center;
        }
        .item-17-FEy {
          width: 1.5rem;
          position: absolute;
          left: 17.55rem;
          top: 19.2rem;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
        }
        .item-18-kxR {
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          left: 24.3rem;
          top: 19.2rem;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          width: 1.6rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .item-19-x2u {
          font-family: Inter, 'Source Sans Pro';
          width: 1.6rem;
          position: absolute;
          left: 31.1rem;
          top: 19.2rem;
          font-size: 1.4rem;
          color: #ffffff;
          height: 1.7rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .item-20-RhB {
          width: 1.8rem;
          top: 19.2rem;
          height: 1.7rem;
          position: absolute;
          left: 37.8rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-21-Y17 {
          left: 44.75rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 1.5rem;
          height: 1.7rem;
          position: absolute;
          top: 19.2rem;
          text-align: center;
          font-size: 1.4rem;
        }
        .item-22-FgD {
          font-size: 1.4rem;
          color: #ffffff;
          white-space: nowrap;
          width: 1.7rem;
          position: absolute;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          left: 3.85rem;
          top: 22.9rem;
        }
        .item-29-k7B {
          text-align: center;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          height: 1.7rem;
          top: 27rem;
          left: 3.8rem;
          font-size: 1.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 1.8rem;
          position: absolute;
        }
        .item-30-rAD {
          top: 27rem;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          height: 1.7rem;
          left: 10.6rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          width: 1.8rem;
          white-space: nowrap;
        }
        .item-31-Yoj {
          text-align: center;
          color: #ffffff;
          width: 1.6rem;
          position: absolute;
          left: 17.5rem;
          top: 27rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          white-space: nowrap;
        }
        .item-23-Fy3 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          text-align: center;
          left: 10.6rem;
          top: 22.9rem;
          color: #ffffff;
          width: 1.8rem;
          height: 1.7rem;
        }
        .item-24-ZTw {
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          top: 22.9rem;
          text-align: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 1.8rem;
          left: 17.4rem;
          font-size: 1.4rem;
          line-height: 1.2125;
          color: #ffffff;
        }
        .item-25-fms {
          top: 22.9rem;
          font-size: 1.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 1.7rem;
          left: 24.25rem;
          text-align: center;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
        }
        .item-26-NgH {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          height: 1.7rem;
          left: 31rem;
          top: 22.9rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.8rem;
          position: absolute;
        }
        .item-27-3nR {
          font-size: 1.4rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.7rem;
          position: absolute;
          text-align: center;
          font-weight: 400;
          height: 1.7rem;
          left: 37.85rem;
          top: 22.9rem;
        }
        .item-28-8Yy {
          position: absolute;
          font-weight: 400;
          width: 1.8rem;
          height: 1.7rem;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 44.6rem;
          top: 22.9rem;
        }
        .item-1-2uF {
          white-space: nowrap;
          position: absolute;
          font-weight: 400;
          color: #ffffff;
          top: 11.8rem;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 0.7rem;
          height: 1.7rem;
          left: 4.35rem;
        }
        .item-9-8xH {
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          left: 11.05rem;
          top: 15.5rem;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          width: 0.9rem;
          height: 1.7rem;
          text-align: center;
          font-weight: 400;
        }
        .item-2-RgV {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 0.9rem;
          position: absolute;
          top: 11.8rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          white-space: nowrap;
          height: 1.7rem;
          left: 11.05rem;
          line-height: 1.2125;
        }
        .group-7-857 {
          border-radius: 2rem;
          width: 4rem;
          font-size: 1.4rem;
          font-weight: 400;
          background-color: #687eff;
          display: flex;
          justify-content: center;
          position: absolute;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          left: 16.3rem;
          top: 13.9rem;
          text-align: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          height: 4.1rem;
          white-space: nowrap;
          align-items: center;
        }
        .item-11-iJD {
          left: 24.4rem;
          top: 15.2rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 1.4rem;
          height: 1.7rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          color: #ffffff;
        }
        .item-4-bcu {
          width: 0.9rem;
          height: 1.7rem;
          position: absolute;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          left: 24.65rem;
          top: 11.8rem;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-3-JXK {
          text-align: center;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          top: 11.8rem;
          left: 17.85rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          width: 0.9rem;
          position: absolute;
        }
        .item-12-oDB {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          top: 15.2rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.5rem;
          height: 1.7rem;
          position: absolute;
          left: 31.15rem;
        }
        .item-5-6TB {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          font-size: 1.4rem;
          left: 31.45rem;
          top: 11.8rem;
          text-align: center;
          line-height: 1.2125;
          color: #ffffff;
          width: 0.9rem;
          position: absolute;
        }
        .item-13-NvV {
          line-height: 1.2125;
          width: 1.6rem;
          height: 1.7rem;
          position: absolute;
          left: 37.9rem;
          top: 15.2rem;
          text-align: center;
          font-size: 1.4rem;
          color: #ffffff;
          white-space: nowrap;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-6-t89 {
          height: 1.7rem;
          left: 38.25rem;
          top: 11.8rem;
          font-size: 1.4rem;
          line-height: 1.2125;
          width: 0.9rem;
          text-align: center;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .item-14-ZVB {
          line-height: 1.2125;
          height: 1.7rem;
          position: absolute;
          left: 44.7rem;
          top: 15.2rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.6rem;
        }
        .item-7-EbK {
          width: 0.8rem;
          position: absolute;
          top: 11.8rem;
          text-align: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          left: 45.1rem;
          font-size: 1.4rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
        }
        .line-9-L8Z {
          background-color: #7752fe;
          width: 46.7rem;
          height: 0.1rem;
          position: absolute;
          left: 1.5rem;
          top: 37.2rem;
        }
        .line-10-rMo {
          height: 0.1rem;
          position: absolute;
          left: 1.5rem;
          top: 40.6rem;
          background-color: #7752fe;
          width: 46.3rem;
        }
        .line-11-zD7 {
          position: absolute;
          left: 1.5rem;
          top: 44rem;
          background-color: #7752fe;
          width: 47.1rem;
          height: 0.1rem;
        }
        .line-12-JzV {
          width: 47.1rem;
          height: 0.1rem;
          position: absolute;
          left: 1.5rem;
          top: 47.6rem;
          background-color: #7752fe;
        }
        .line-13-3SH {
          background-color: #7752fe;
          width: 47.1rem;
          height: 0.1rem;
          position: absolute;
          left: 1.5rem;
          top: 51rem;
        }
        .ellipse-1-y53 {
          height: 1rem;
          position: absolute;
          left: 13.8rem;
          top: 38.8rem;
          background-color: #7752fe;
          border-radius: 0.5rem;
          width: 1rem;
        }
        .agenda-69f {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 8.8rem;
          left: 3.3rem;
          top: 32rem;
          text-align: center;
          font-weight: 400;
          height: 3rem;
          position: absolute;
          font-size: 2.4rem;
          color: #7752fe;
          white-space: nowrap;
        }
      }
    }
    .auto-group-6ixj-n2V {
      flex-shrink: 0;
      margin-left: 6.513rem;
      height: 23.5rem;
      display: flex;
      align-items: flex-end;

      .auto-group-q9ff-uN1 {
        background-color: #687eff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 7.8892rem;
        box-sizing: border-box;
        padding: 0.9rem 0.7rem 2.7rem 0.7rem;
        width: 34.5108rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .auto-group-7o5k-NWV {
          display: flex;
          align-items: center;
          margin: 0rem 4.111rem 1.2rem 1.15rem;
          width: calc(100% - 5.261rem);

          .jadwal-petugas-VLD {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.85rem 0.2rem 0rem;
            text-align: center;
            font-weight: 400;
            color: #f6f4eb;
            max-width: 12.4rem;
            font-size: 3.2rem;
          }
          .wired-lineal-134-target-1-9ff {
            flex-shrink: 0;
            width: 10.6rem;
            height: 9.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-wwkr-g9o {
          margin-right: 4.711rem;
          width: calc(100% - 4.711rem);
          height: 9rem;
          display: flex;
          align-items: flex-start;

          .sun10423941-1-oVK {
            height: 7.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 7.8rem;
            width: 8.6rem;
          }
          .auto-group-lqgu-vZw {
            flex-direction: column;
            flex-shrink: 0;
            width: 12rem;
            height: 100%;
            align-items: center;
            display: flex;

            .auto-group-un1w-FMK {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 1.2rem 0.6rem 1.2rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .dzuhur-xWd {
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                margin: 0rem 1.4rem 0.2rem 0rem;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-04-27-euF {
                margin-right: 1.4rem;
                text-align: center;
                color: #ffffff;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .line-5-Asb {
              margin-bottom: 0.7rem;
              width: 100%;
              height: 0.1rem;
              background-color: #ffffff;
              flex-shrink: 0;
            }
            .iskandar-hcd {
              line-height: 1.2125;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 0.8rem;
              text-align: center;
            }
          }
        }
      }
      .auto-group-zuz5-Nim {
        box-sizing: border-box;
        padding: 0.9rem 4.513rem 2.3rem 2.85rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #687eff;
        border-radius: 2rem;
        margin-right: 10.4872rem;
        width: 34.6128rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-79qk-3pu {
          margin: 0rem 1.2rem 0.3rem 0rem;
          width: calc(100% - 1.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .jadwal-petugas-yTf {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.1rem 2.95rem 0rem 0rem;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #f6f4eb;
            max-width: 12.4rem;
          }
          .wired-lineal-134-target-3-eph {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 10.7rem;
            height: 10.3rem;
          }
        }
        .auto-group-uhaq-yc5 {
          flex-shrink: 0;
          margin-left: 0.25rem;
          width: calc(100% - 0.25rem);
          display: flex;
          align-items: flex-start;

          .sun9361662-1-v1X {
            margin-right: 6.1rem;
            width: 8.9rem;
            height: 8.9rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-516q-3M3 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.7rem;
            width: 12rem;

            .auto-group-awwh-ykV {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 3.4rem 0.6rem 2rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .ashar-ue9 {
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
              }
              .item-04-27-qnh {
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
              }
            }
            .line-14-Apy {
              height: 0.1rem;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              width: 100%;
            }
            .dhika-v3T {
              font-size: 2rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.8rem;
              text-align: center;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-yfqb-AiV {
        background-color: #687eff;
        flex-shrink: 0;
        width: 34.6128rem;
        align-items: center;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-direction: column;
        border-radius: 2rem;
        margin-right: 10.4872rem;
        box-sizing: border-box;
        padding: 1.5rem 4.313rem 1.9rem 2.4rem;
        height: 100%;

        .auto-group-z9ey-t8h {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.8rem 0.65rem;
          width: calc(100% - 2.05rem);

          .jadwal-petugas-DAy {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.15rem 0.3rem 0rem;
            max-width: 12.4rem;
            font-weight: 400;
            color: #f6f4eb;
            text-align: center;
            font-size: 3.2rem;
            line-height: 1.2125;
          }
          .wired-lineal-134-target-4-iNd {
            height: 10.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 10.3rem;
          }
        }
        .auto-group-7fz1-eXB {
          flex-shrink: 0;
          width: 100%;
          height: 9rem;
          display: flex;
          align-items: flex-start;

          .sunrise6697775-1-PzZ {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 5.8rem 0rem 0rem;
            width: 10.1rem;
            height: 6.5rem;
          }
          .auto-group-n12h-gim {
            flex-shrink: 0;
            width: 12rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-nju5-d8D {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 1.3rem 0.6rem 1.3rem;
              width: 100%;
              align-items: center;

              .magrib-LoK {
                margin: 0rem 1.4rem 0.2rem 0rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.2125;
              }
              .item-04-27-4DX {
                font-size: 1.5rem;
                color: #ffffff;
                flex-shrink: 0;
                margin-right: 1.4rem;
                text-align: center;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .line-15-mdj {
              margin-bottom: 0.7rem;
              width: 100%;
              height: 0.1rem;
              background-color: #ffffff;
              flex-shrink: 0;
            }
            .fauzan-ujw {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              margin-right: 0.8rem;
              text-align: center;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-gqfx-LqF {
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 0.9rem 2.613rem 1.5rem 3.25rem;
        width: 34.6128rem;
        height: 100%;
        align-items: center;
        display: flex;
        background-color: #687eff;
        flex-shrink: 0;

        .auto-group-f8pj-e5F {
          align-items: flex-end;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;
          display: flex;

          .jadwal-petugas-zeu {
            color: #f6f4eb;
            margin-right: 3.95rem;
            max-width: 12.4rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-rgkq-WdF {
            margin-bottom: 0.2rem;
            width: 12.4rem;
            height: 9.7rem;
            position: relative;
            flex-shrink: 0;

            .frame-F53 {
              overflow: hidden;
              width: 10.6rem;
              height: 9.6rem;
              position: absolute;
              left: 1.8rem;
              top: 0;
            }
            .wired-lineal-134-target-5-BjP {
              vertical-align: top;
              width: 10.1rem;
              height: 9.1rem;
              position: absolute;
              left: 0;
              top: 0.6rem;
              object-fit: cover;
            }
          }
        }
        .auto-group-dq6m-JZ7 {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 1.5rem 0rem 0.35rem;
          width: calc(100% - 1.85rem);
          height: 9rem;

          .full-moon6563837-1-1iR {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.5rem 8.5rem 0rem 0rem;
            width: 6.4rem;
            height: 6.5rem;
          }
          .auto-group-iv4h-gZf {
            width: 12rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-jewv-RGM {
              box-sizing: border-box;
              padding: 0rem 4.2rem 0.6rem 2.8rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .isya-9i9 {
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2125;
                margin-bottom: 0.2rem;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                color: #ffffff;
              }
              .item-04-27-FWH {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
            .line-16-yx5 {
              margin-bottom: 0.7rem;
              width: 100%;
              height: 0.1rem;
              background-color: #ffffff;
              flex-shrink: 0;
            }
            .shine-vcR {
              font-weight: 400;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 0.8rem;
              text-align: center;
              font-size: 2rem;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
