
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.7rem;
}.dashboard-SY9 {
  color: #190482;
  font-weight: 400;
  height: 4.9rem;
  text-align: center;
  font-size: 4rem;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
}
