
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194rem;
}.dashboard-user-1-Lj3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 3.7rem;

  .auto-group-ow1t-9gV {
    margin: 3.1rem 0.2rem 0rem 0rem;
    width: 13.2rem;
    height: 111.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-Dpm {
      position: absolute;
      left: 1rem;
      top: 0;
      background-color: #190482;
      border-radius: 1.5rem;
      width: 10.4rem;
      height: 111.4rem;
    }
    .line-17-8B3 {
      width: 12rem;
      height: 0.5rem;
      position: absolute;
      left: 0;
      top: 19.2rem;
      background-color: #ffffff;
    }
    .megaphone2056523-1-FmT {
      left: 3.9rem;
      top: 51.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.1rem;
      height: 4.3rem;
      position: absolute;
    }
    .note5837281-1-NLH {
      top: 39.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.5rem;
      height: 3.4rem;
      position: absolute;
      left: 3.8rem;
    }
    .calendar4818033-1-t3j {
      position: absolute;
      left: 3.9rem;
      top: 26.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.3rem;
      height: 4.8rem;
    }
    .rectangle-42-1e9 {
      background-color: #e7eefa;
      border-radius: 2.5rem;
      width: 12.2rem;
      height: 7.2rem;
      position: absolute;
      left: 1rem;
      top: 9.7rem;
    }
    .home9385258-1-Keq {
      width: 5.8rem;
      height: 5.8rem;
      position: absolute;
      left: 3rem;
      top: 10.4rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-wnup-qdB {
    height: 104.8rem;
    position: relative;
    flex-shrink: 0;
    width: 176.9rem;

    .teks-box-cari-5Gd {
      left: 0;
      padding: 0.9rem 3.6rem 0.6rem 4.05rem;
      width: 42.8rem;
      position: absolute;
      top: 5.5rem;
      display: flex;
      align-items: center;
      background-color: #fafbff;
      border-radius: 2rem;
      box-sizing: border-box;
      height: 4rem;

      .search-ktZ {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #ad9a9a;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 26.45rem;
        line-height: 1.2125;
      }
      .icon-search-outline-3cm {
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 2.3rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-3-iyo {
      left: 8.1rem;
      top: 25.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 114.7237rem;
      height: 43.5rem;
      position: absolute;
    }
    .rectangle-26-Dff {
      left: 8.1rem;
      top: 25.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 114.7237rem;
      height: 43.5rem;
      position: absolute;
    }
    .rectangle-27-WPs {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 114.7237rem;
      height: 43.5rem;
      position: absolute;
      left: 8.1rem;
      top: 25.3rem;
    }
    .clock9695486-1-DJH {
      vertical-align: top;
      width: 0.2rem;
      height: 0.2rem;
      position: absolute;
      left: 96.5rem;
      top: 41.6rem;
      object-fit: cover;
    }
    .dashboard-XZs {
      color: #190482;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.9rem;
      top: 14.6rem;
      left: 1.35rem;
      text-align: center;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 20.7rem;
      position: absolute;
    }
    .selamat-datang-di-sistem-informasi-mushollah-asy-syabab-dN1 {
      height: 2.5rem;
      font-weight: 500;
      left: 10.7rem;
      top: 39.3rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 56rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .hi-takhmir-iPT {
      position: absolute;
      left: 14.85rem;
      text-align: center;
      font-size: 6.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      top: 29.8rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      width: 36.1rem;
    }
    .item-11-12-27-dFX {
      top: 54.2rem;
      text-align: center;
      font-size: 4.8rem;
      font-weight: 400;
      position: absolute;
      left: 42.6rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.9rem;
      height: 5.9rem;
    }
    .selasa-Wq7 {
      font-weight: 400;
      white-space: nowrap;
      font-size: 3.2rem;
      line-height: 1.2125;
      width: 12.3rem;
      height: 3.9rem;
      position: absolute;
      left: 14.8rem;
      top: 48.7rem;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .time-q6h {
      left: 46.5rem;
      top: 48.7rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      position: absolute;
      height: 3.9rem;
      font-size: 3.2rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.5rem;
    }
    .rabiul-akhir-1445-MKw {
      width: 14.6rem;
      height: 2rem;
      position: absolute;
      top: 54.3rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      left: 13.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-20-eZw {
      height: 25.4rem;
      position: absolute;
      left: 128.2rem;
      top: 44.4rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #b7d4ff;
      border-radius: 2rem;
      width: 48.7rem;
    }
    .rectangle-18-KRB {
      top: 20.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #80b3ff;
      border-radius: 2rem;
      width: 48.7rem;
      height: 25.5rem;
      position: absolute;
      left: 128.2rem;
    }
    .group-5-1J1 {
      position: absolute;
      left: 127.2rem;
      top: 15.3rem;
      border-radius: 2rem;
      width: 49.7rem;
      height: 7rem;

      .rectangle-17-LbB {
        left: 1rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #687eff;
        border-radius: 2rem;
        width: 48.7rem;
        height: 7rem;
        position: absolute;
      }
      .kalender-pmF {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        text-align: center;
        height: 4.9rem;
        position: absolute;
        left: 2.1rem;
        top: 0.8rem;
        font-size: 4rem;
        font-family: Inter, 'Source Sans Pro';
        width: 16.8rem;
      }
      .item-2023-XvZ {
        font-size: 2rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        top: 4.2rem;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
        width: 5rem;
        position: absolute;
        left: 44.1rem;
      }
      .group-4-pPs {
        left: 27.4rem;
        top: 1.8rem;
        display: flex;
        align-items: center;
        background-color: rgba(127, 127, 127, 0.1800000072);
        box-sizing: border-box;
        width: 16.1rem;
        height: 3.2rem;
        position: absolute;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        padding: 0.5rem 1.998rem 0.2rem 2.45rem;

        .oktober-ugD {
          margin-right: 2.55rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #ffffff;
          flex-shrink: 0;
        }
        .polygon-1-poB {
          margin-bottom: 0.2976rem;
          width: 1.4021rem;
          height: 1.2024rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .oktober-17-VPX {
      height: 1.9rem;
      left: 130.05rem;
      color: #7752fe;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 7.8rem;
      position: absolute;
      top: 53.7rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .group-6-oQD {
      align-items: flex-end;
      width: 43.35rem;
      height: 2rem;
      position: absolute;
      left: 130.45rem;
      top: 23.9rem;
      display: flex;

      .turs-L9F {
        margin-right: 3.9rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 1.4rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .mon-4b3 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.75rem 0.3rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
      }
      .tues-BQm {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 3.7rem;
        text-align: center;
        font-size: 1.4rem;
        flex-shrink: 0;
      }
      .wnd-Whw {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.75rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
      }
      .thur-eZF {
        flex-shrink: 0;
        margin-right: 4.4rem;
        text-align: center;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .fri-Nk9 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: #ffffff;
        margin-right: 4.85rem;
        text-align: center;
      }
      .sat-uzy {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .rectangle-20-TFo {
      position: absolute;
      left: 151.2rem;
      top: 5.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(183, 212, 255, 0.7300000191);
      border-radius: 2rem;
      width: 18.8rem;
      height: 4.4rem;
    }
    .maulid-nabi-AAD {
      font-weight: 400;
      line-height: 1.2125;
      color: #7752fe;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
      left: 143.9rem;
      top: 53.4rem;
      text-align: center;
      font-size: 1.5rem;
      width: 8.4rem;
    }
    .item-8-Tv1 {
      white-space: nowrap;
      width: 0.9rem;
      position: absolute;
      left: 131.45rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 1.7rem;
      top: 30.8rem;
      text-align: center;
      font-size: 1.4rem;
    }
    .item-15-ApR {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 34.5rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 1.6rem;
      height: 1.7rem;
      left: 131.1rem;
    }
    .item-16-fmB {
      left: 137.9rem;
      top: 34.5rem;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 1.6rem;
      height: 1.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      text-align: center;
    }
    .item-17-aNM {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 34.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      line-height: 1.2125;
      width: 1.5rem;
      height: 1.7rem;
      position: absolute;
      left: 144.75rem;
    }
    .item-18-6bb {
      width: 1.6rem;
      position: absolute;
      text-align: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      left: 151.5rem;
      top: 34.5rem;
      font-size: 1.4rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .item-19-pGh {
      top: 34.5rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      height: 1.7rem;
      left: 158.3rem;
      white-space: nowrap;
      width: 1.6rem;
    }
    .item-20-Xwo {
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      height: 1.7rem;
      left: 165rem;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      position: absolute;
      top: 34.5rem;
    }
    .item-21-3QM {
      position: absolute;
      left: 171.95rem;
      top: 34.5rem;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff;
      width: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
    }
    .item-22-XaR {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 131.05rem;
      top: 38.2rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 1.7rem;
      height: 1.7rem;
    }
    .item-29-Ejj {
      color: #ffffff;
      width: 1.8rem;
      height: 1.7rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      left: 131rem;
      top: 42.3rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-30-wu3 {
      color: #ffffff;
      top: 42.3rem;
      font-size: 1.4rem;
      position: absolute;
      left: 137.8rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      height: 1.7rem;
      white-space: nowrap;
    }
    .item-31-Fuj {
      height: 1.7rem;
      left: 144.7rem;
      top: 42.3rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.6rem;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .item-23-NjT {
      width: 1.8rem;
      top: 38.2rem;
      text-align: center;
      color: #ffffff;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      position: absolute;
      left: 137.8rem;
      font-size: 1.4rem;
    }
    .item-24-tho {
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      height: 1.7rem;
      position: absolute;
      top: 38.2rem;
      white-space: nowrap;
      left: 144.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
    }
    .item-25-p5f {
      top: 38.2rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.7rem;
      position: absolute;
      left: 151.45rem;
      font-weight: 400;
      color: #ffffff;
      height: 1.7rem;
    }
    .item-26-XVs {
      left: 158.2rem;
      top: 38.2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      position: absolute;
      font-size: 1.4rem;
      color: #ffffff;
      white-space: nowrap;
      height: 1.7rem;
      text-align: center;
    }
    .item-27-Ssj {
      left: 165.05rem;
      top: 38.2rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .item-28-xbB {
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 1.8rem;
      position: absolute;
      top: 38.2rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 1.7rem;
      left: 171.8rem;
    }
    .item-1-5Qu {
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 0.7rem;
      height: 1.7rem;
      left: 131.55rem;
      top: 27.1rem;
    }
    .item-9-aMf {
      width: 0.9rem;
      position: absolute;
      left: 138.25rem;
      top: 30.8rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 1.7rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
    }
    .item-2-VDj {
      font-weight: 400;
      line-height: 1.2125;
      width: 0.9rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      left: 138.25rem;
      top: 27.1rem;
    }
    .group-7-c3T {
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      left: 143.5rem;
      line-height: 1.2125;
      display: flex;
      white-space: nowrap;
      text-align: center;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
      color: #ffffff;
      justify-content: center;
      background-color: #687eff;
      width: 4rem;
      top: 29.2rem;
      font-weight: 400;
      height: 4.1rem;
      position: absolute;
    }
    .item-11-otd {
      position: absolute;
      top: 30.5rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 1.4rem;
      height: 1.7rem;
      left: 151.6rem;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-4-7uK {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      left: 151.85rem;
      top: 27.1rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      width: 0.9rem;
      position: absolute;
    }
    .item-3-dsf {
      position: absolute;
      left: 145.05rem;
      top: 27.1rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 0.9rem;
      height: 1.7rem;
      line-height: 1.2125;
      color: #ffffff;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .item-12-Mof {
      left: 158.35rem;
      line-height: 1.2125;
      height: 1.7rem;
      position: absolute;
      top: 30.5rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 1.5rem;
      white-space: nowrap;
    }
    .item-5-FPF {
      font-weight: 400;
      height: 1.7rem;
      position: absolute;
      left: 158.65rem;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 0.9rem;
      top: 27.1rem;
      text-align: center;
      line-height: 1.2125;
    }
    .item-13-yKF {
      line-height: 1.2125;
      width: 1.6rem;
      height: 1.7rem;
      position: absolute;
      left: 165.1rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      top: 30.5rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-6-svR {
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 0.9rem;
      height: 1.7rem;
      position: absolute;
      left: 165.45rem;
      font-size: 1.4rem;
      top: 27.1rem;
      text-align: center;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item-14-nXb {
      width: 1.6rem;
      left: 171.9rem;
      color: #ffffff;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 1.7rem;
      position: absolute;
      top: 30.5rem;
      text-align: center;
      font-size: 1.4rem;
      white-space: nowrap;
    }
    .item-7-sow {
      width: 0.8rem;
      height: 1.7rem;
      position: absolute;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 172.3rem;
      top: 27.1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .line-9-Bpd {
      left: 128.7rem;
      top: 52.5rem;
      background-color: #7752fe;
      width: 46.7rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-10-8E5 {
      width: 46.3rem;
      height: 0.1rem;
      position: absolute;
      left: 128.7rem;
      top: 55.9rem;
      background-color: #7752fe;
    }
    .line-11-4tR {
      position: absolute;
      left: 128.7rem;
      top: 59.3rem;
      background-color: #7752fe;
      width: 47.1rem;
      height: 0.1rem;
    }
    .line-12-c9F {
      width: 47.1rem;
      height: 0.1rem;
      position: absolute;
      left: 128.7rem;
      top: 62.9rem;
      background-color: #7752fe;
    }
    .line-13-Z4V {
      position: absolute;
      left: 128.7rem;
      top: 66.3rem;
      background-color: #7752fe;
      width: 47.1rem;
      height: 0.1rem;
    }
    .ellipse-1-Ux9 {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 141rem;
      top: 54.1rem;
      background-color: #7752fe;
      border-radius: 0.5rem;
    }
    .agenda-1hB {
      top: 47.3rem;
      line-height: 1.2125;
      width: 8.8rem;
      height: 3rem;
      left: 130.5rem;
      font-weight: 400;
      color: #7752fe;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-size: 2.4rem;
    }
    .rectangle-22-jdB {
      top: 81.4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 34.5108rem;
      height: 23.4rem;
      position: absolute;
      left: 8.1rem;
    }
    .rectangle-23-eEM {
      position: absolute;
      left: 50.5rem;
      top: 81.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 34.6129rem;
      height: 23.5rem;
    }
    .rectangle-24-xkq {
      position: absolute;
      left: 95.6rem;
      top: 81.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
      width: 34.6129rem;
      height: 23.5rem;
    }
    .rectangle-25-4J5 {
      width: 34.6129rem;
      height: 23.5rem;
      position: absolute;
      left: 140.7rem;
      top: 81.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #687eff;
      border-radius: 2rem;
    }
    .item-1-10-miH {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 56.9rem;
      height: 94.1rem;
      position: absolute;
      left: 66.2rem;
    }
    .oktober-2023-hrq {
      width: 12.7rem;
      position: absolute;
      left: 13.95rem;
      top: 58rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      text-align: center;
    }
    .jadwal-petugas-zqw {
      width: 12.4rem;
      position: absolute;
      left: 9.95rem;
      top: 83.1rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      height: 7.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #f6f4eb;
    }
    .jadwal-petugas-WZP {
      width: 12.4rem;
      height: 7.8rem;
      text-align: center;
      line-height: 1.2125;
      color: #f6f4eb;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 53.35rem;
      top: 83.5rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .jadwal-petugas-pKB {
      position: absolute;
      line-height: 1.2125;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      color: #f6f4eb;
      width: 12.4rem;
      height: 7.8rem;
      left: 98.65rem;
      top: 83.9rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .jadwal-petugas-XjP {
      width: 12.4rem;
      font-size: 3.2rem;
      color: #f6f4eb;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      height: 7.8rem;
      position: absolute;
      left: 143.95rem;
      top: 84.3rem;
    }
    .sun10423941-1-T7F {
      width: 8.6rem;
      height: 7.8rem;
      position: absolute;
      left: 8.8rem;
      top: 93.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .dzuhur-nQR {
      font-size: 2.4rem;
      font-weight: 400;
      color: #ffffff;
      width: 8.2rem;
      position: absolute;
      left: 26.4rem;
      top: 93.1rem;
      text-align: center;
      white-space: nowrap;
      height: 3rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .ashar-uV3 {
      top: 93.5rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.6rem;
      height: 3rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      position: absolute;
      left: 70.6rem;
    }
    .magrib-2pZ {
      position: absolute;
      left: 115.2rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 8rem;
      height: 3rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 93.9rem;
      text-align: center;
    }
    .isya-8Mo {
      height: 3rem;
      position: absolute;
      left: 162.25rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 4.5rem;
      top: 94.3rem;
      text-align: center;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .iskandar-nx9 {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      width: 8.1rem;
      height: 2.5rem;
      position: absolute;
      left: 26.75rem;
      font-size: 2rem;
      top: 99.6rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .dhika-iL1 {
      line-height: 1.2125;
      white-space: nowrap;
      left: 71.5rem;
      font-size: 2rem;
      font-weight: 400;
      top: 100rem;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 5.4rem;
      height: 2.5rem;
      position: absolute;
    }
    .fauzan-EZF {
      line-height: 1.2125;
      height: 2.5rem;
      position: absolute;
      top: 100.4rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.9rem;
      left: 116.05rem;
      text-align: center;
    }
    .shine-wyT {
      width: 5.3rem;
      left: 162.15rem;
      text-align: center;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      top: 100.8rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .item-04-27-fuT {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 1.9rem;
      position: absolute;
      left: 28rem;
      top: 96.3rem;
      white-space: nowrap;
      width: 5rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .item-04-27-b2R {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 5rem;
      height: 1.9rem;
      text-align: center;
      line-height: 1.2125;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 71.4rem;
      top: 96.7rem;
      font-size: 1.5rem;
    }
    .item-04-27-tGR {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 5rem;
      height: 1.9rem;
      left: 116.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      position: absolute;
      top: 97.1rem;
      text-align: center;
    }
    .item-04-27-NBb {
      height: 1.9rem;
      position: absolute;
      white-space: nowrap;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      width: 5rem;
      left: 162rem;
      top: 97.5rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
    }
    .line-5-su3 {
      position: absolute;
      left: 25.2rem;
      top: 98.8rem;
      background-color: #ffffff;
      width: 12rem;
      height: 0.1rem;
    }
    .line-14-p3b {
      width: 12rem;
      height: 0.1rem;
      position: absolute;
      left: 68.6rem;
      top: 99.2rem;
      background-color: #ffffff;
    }
    .line-15-wtu {
      width: 12rem;
      height: 0.1rem;
      position: absolute;
      left: 113.9rem;
      top: 99.6rem;
      background-color: #ffffff;
    }
    .line-16-s1s {
      width: 12rem;
      height: 0.1rem;
      position: absolute;
      left: 159.2rem;
      top: 100rem;
      background-color: #ffffff;
    }
    .sun9361662-1-cEM {
      left: 53.6rem;
      top: 92.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 8.9rem;
      height: 8.9rem;
      position: absolute;
    }
    .sunrise6697775-1-Xs7 {
      width: 10.1rem;
      height: 6.5rem;
      position: absolute;
      left: 98rem;
      top: 94rem;
      object-fit: cover;
      vertical-align: top;
    }
    .profile3135715-1-G41 {
      width: 6.5rem;
      height: 6.9rem;
      position: absolute;
      left: 148.7rem;
      top: 3.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .dkm-yz1 {
      left: 155.9rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      height: 3rem;
      top: 5.8rem;
      font-size: 2.4rem;
      color: #f6f4eb;
      font-family: Inter, 'Source Sans Pro';
      width: 5.5rem;
    }
    .control7184152-1-hf7 {
      vertical-align: top;
      width: 3.2rem;
      height: 3rem;
      position: absolute;
      left: 164.5rem;
      top: 5.7rem;
      object-fit: cover;
    }
    .wired-lineal-134-target-1-e4Z {
      height: 9.6rem;
      position: absolute;
      left: 27.2rem;
      top: 82.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.6rem;
    }
    .frame-ZSR {
      top: 82.2rem;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:58:6');
      left: 117.6rem;
      height: 9.6rem;
      position: absolute;
      width: 10.6rem;

      .frame-J97 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .vector-TXo {
          width: 10.6rem;
          height: 9.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .frame-mYV {
      left: 162.1rem;
      top: 82.2rem;
      overflow: hidden;
      width: 10.6rem;
      height: 9.6rem;
      position: absolute;

      .vector-ueh {
        object-fit: contain;
        vertical-align: top;
        width: 10.6rem;
        height: 9.6rem;
      }
    }
    .full-moon6563837-1-2jK {
      top: 94.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.4rem;
      height: 6.5rem;
      position: absolute;
      left: 144.3rem;
    }
  }
}
