
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 196.588rem;
}.data-petugas-Xsw {
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 1.8rem;
  width: 100%;
  display: flex;

  .auto-group-qwvm-3bP {
    margin-right: 2.8rem;
    width: 42.4884rem;
    height: 111.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-49-mGV {
      background-color: #687eff;
      border-radius: 4rem;
      width: 41.9rem;
      height: 111.4rem;
      position: absolute;
      left: 0.5884rem;
      top: 0;
    }
    .group-13-Uwb {
      position: absolute;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 24.6rem 0.283rem 42.8rem 1.788rem;
      width: 8.6717rem;
      height: 111.4rem;
      left: 0;
      top: 0;
      background-color: #80b3ff;

      .home9385258-1-Liu {
        vertical-align: top;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 0.752rem 6.878rem 0rem;
        width: 5.8483rem;
        height: 6.3221rem;
        object-fit: cover;
      }
      .calendar4818033-1-S1F {
        flex-shrink: 0;
        margin: 0rem 0.6rem 8.1rem 0rem;
        width: 5.6rem;
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .note5837281-1-LsK {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.671rem 8.194rem 0rem;
        width: 3.5292rem;
        height: 3.7061rem;
        object-fit: cover;
      }
      .megaphone2056523-1-eND {
        margin-left: 1.2rem;
        width: 5.4rem;
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item-1-10-ws7 {
      object-fit: cover;
      vertical-align: top;
      width: 13.9rem;
      height: 11.9rem;
      position: absolute;
      left: 10.6884rem;
      top: 0.7rem;
    }
    .shafa-al-firdaus-fHK {
      color: #ffffff;
      height: 2.1rem;
      position: absolute;
      left: 23.0384rem;
      text-align: center;
      line-height: 1.2575;
      white-space: nowrap;
      width: 10.9rem;
      top: 4.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Baloo, 'Source Sans Pro';
    }
    .pilihan-Y6D {
      width: 33.3rem;
      display: flex;
      top: 24.2rem;
      row-gap: 5.3907rem;
      align-items: center;
      flex-direction: column;
      height: 44.4rem;
      position: absolute;
      left: 9.1884rem;

      .menu-Rvh {
        white-space: nowrap;
        padding: 1.47rem 3.692rem 1.687rem 3.692rem;
        cursor: pointer;
        display: flex;
        font-size: 3.2rem;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        line-height: 1.2125;
        color: #e7eefa;
        align-items: baseline;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5rem;
        flex-shrink: 0;
        font-weight: 700;
        background-color: #687eff;

        .menu-Rvh-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #e7eefa;
          font-family: Inter, 'Source Sans Pro';
        }
        .menu-Rvh-sub-1 {
        }
      }
      .menu-5ds {
        cursor: pointer;
        color: #e7eefa;
        background-color: #687eff;
        box-sizing: border-box;
        font-size: 2.4rem;
        font-weight: 700;
        white-space: nowrap;
        padding: 1.47rem 2.042rem 2.587rem 2.042rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        width: 100%;
        border-radius: 5rem;
        line-height: 1.2125;
      }
      .menu-YGZ {
        background-color: #687eff;
        flex-shrink: 0;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 1.47rem 0.992rem 2.587rem 0.992rem;
        text-align: center;
        width: 100%;
        cursor: pointer;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #e7eefa;
      }
      .menu-2Bj {
        font-family: Inter, 'Source Sans Pro';
        background-color: #687eff;
        flex-shrink: 0;
        padding: 1.47rem 2.142rem 2.587rem 2.142rem;
        text-align: center;
        font-size: 2.4rem;
        border-radius: 5rem;
        width: 100%;
        font-weight: 700;
        color: #e7eefa;
        cursor: pointer;
        white-space: nowrap;
        box-sizing: border-box;
        line-height: 1.2125;
      }
    }
  }
  .auto-group-mwpo-7DB {
    flex-shrink: 0;
    margin-top: 0.9rem;
    width: 149.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-oafs-SWM {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2.5568rem;
      width: 100%;
      align-items: flex-end;
      display: flex;

      .auto-group-e2jm-yFP {
        margin: 0rem 3.8rem 4.8rem 0rem;
        width: calc(100% - 3.8rem);
        height: 6.9rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .teks-box-cari-gfb {
          margin: 0rem 81.6rem 1.9rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 2.296rem 0.6rem 4.05rem;
          display: flex;
          align-items: center;
          background-color: #c6dbfd;
          border-radius: 2rem;
          flex-shrink: 0;

          .search-zgH {
            flex-shrink: 0;
            font-size: 2rem;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.2125;
            color: #ad9a9a;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 27.7184rem;
            text-align: center;
          }
          .icon-search-outline-icH {
            margin-bottom: 0.5rem;
            width: 2.3357rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-5wdw-DZ3 {
          width: 21.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-20-y2R {
            left: 2.5rem;
            top: 1.6rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 238, 217, 0.7300000191);
            border-radius: 2rem;
            width: 18.8rem;
            height: 4.4rem;
            position: absolute;
          }
          .profile3135715-1-G1X {
            object-fit: cover;
            vertical-align: top;
            width: 6.5rem;
            height: 6.9rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .dkm-Prq {
            width: 5.5rem;
            left: 7.2rem;
            top: 2.3rem;
            font-weight: 400;
            color: #87c4ff;
            white-space: nowrap;
            height: 3rem;
            position: absolute;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .control7184152-1-Vus {
            width: 3.2rem;
            height: 3rem;
            position: absolute;
            left: 15.8rem;
            top: 2.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .auto-group-yzxu-R2q {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 5rem 0rem 62.45rem;
        width: calc(100% - 67.45rem);

        .data-petugas-wms {
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 51.05rem 3.4rem 0rem;
          text-align: center;
          color: #190482;
        }
        .plus7500065-2-3pu {
          height: 4.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 4.6rem;
        }
      }
    }
    .auto-group-n37p-n1o {
      box-sizing: border-box;
      padding: 5.543rem 4.6rem 7.2rem 3.1rem;
      flex-direction: column;
      background-color: rgba(104, 126, 255, 0.1199999973);
      border-radius: 2rem;
      width: 100%;
      align-items: center;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .auto-group-cqem-gcy {
        margin: 0rem 11rem 2rem 0rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .nim-19T {
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #190482;
          white-space: nowrap;
          margin: 0.3rem 17.95rem 0rem 0rem;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
        }
        .nama-JuF {
          color: #190482;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 22.5rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .notelpn-qeH {
          margin-right: 19.55rem;
          text-align: center;
          font-size: 2.6rem;
          line-height: 1.2125;
          flex-shrink: 0;
          font-weight: 400;
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .prodi-AwT {
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.6rem;
          line-height: 1.2125;
          font-weight: 400;
          text-align: center;
          font-size: 3.2rem;
        }
        .status-hwP {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-afwp-eLq {
        margin: 0rem 0.4rem 1.7rem 0.3rem;
        width: calc(100% - 0.7rem);
        height: 6.5rem;
        position: relative;
        flex-shrink: 0;

        .clock9695486-2-NGq {
          position: absolute;
          left: 78.3rem;
          top: 3.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 0.2rem;
          height: 0.2rem;
        }
        .rectangle-43-ha1 {
          top: 0;
          background-color: rgba(104, 126, 255, 0.5);
          border-radius: 2rem;
          width: 141.1rem;
          height: 6.5rem;
          position: absolute;
          left: 0;
        }
        .item-0230220065-2cH {
          position: absolute;
          left: 1.5rem;
          top: 1.6rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 15.5rem;
          height: 3.1rem;
          color: #190482;
          white-space: nowrap;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .park-jeongwoo-7td {
          position: absolute;
          left: 24.3rem;
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.3rem;
          height: 3.1rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          top: 1.6rem;
          text-align: center;
        }
        .item-0881024046360-po3 {
          height: 3.1rem;
          position: absolute;
          left: 55.8rem;
          top: 2.4rem;
          text-align: center;
          line-height: 1.2125;
          color: #190482;
          white-space: nowrap;
          width: 19.9rem;
          font-size: 2.5rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .arsitektur-833 {
          width: 11.6rem;
          height: 3.1rem;
          position: absolute;
          left: 89.95rem;
          top: 1.9rem;
          text-align: center;
          line-height: 1.2125;
          color: #190482;
          white-space: nowrap;
          font-size: 2.5rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .aktif-Erm {
          top: 2.2rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 3.1rem;
          left: 117.4rem;
          font-size: 2.5rem;
          color: #190482;
          white-space: nowrap;
          width: 5.5rem;
          position: absolute;
        }
        .delete-button5974771-1-YsT {
          width: 4.8rem;
          height: 4.6rem;
          position: absolute;
          left: 128.1rem;
          top: 1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .rectangle-44-UWD {
        flex-shrink: 0;
        margin: 0rem 0rem 1.7rem 0.1rem;
        width: 141.7rem;
        height: 6.7rem;
        background-color: rgba(104, 126, 255, 0.5099999905);
        border-radius: 2rem;
      }
      .rectangle-45-BvR {
        margin-bottom: 1.7rem;
        width: 100%;
        height: 7rem;
        background-color: rgba(104, 126, 255, 0.5);
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .rectangle-46-ivM {
        width: 141.3rem;
        height: 6.9rem;
        background-color: rgba(104, 126, 255, 0.5);
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 0.3rem 1.4rem 0rem;
      }
      .rectangle-47-3Bw {
        margin: 0rem 0rem 1.6rem 0.4rem;
        width: 141.4rem;
        height: 7.1rem;
        background-color: rgba(104, 126, 255, 0.5);
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .rectangle-48-MiR {
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 0.4rem 1.7rem 0.2rem;
        width: calc(100% - 0.6rem);
        height: 6.7rem;
        background-color: rgba(104, 126, 255, 0.5);
      }
      .rectangle-49-sgm {
        background-color: rgba(104, 126, 255, 0.5);
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 0.4rem 1.7rem 0.2rem;
        width: calc(100% - 0.6rem);
        height: 6.6rem;
      }
      .rectangle-50-Pv1 {
        margin: 0rem 0.4rem 0rem 0.2rem;
        width: calc(100% - 0.6rem);
        height: 6.7rem;
        background-color: rgba(104, 126, 255, 0.5);
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
  }
}
