
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6.9rem;
}.fauzan-Wid {
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.2125;
  white-space: nowrap;
  height: 2.5rem;
  text-align: center;
  font-weight: 400;
}
