
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 4rem;
}.group-7-cRP {
  border-radius: 2rem;
  width: 100%;
  text-align: center;
  line-height: 1.2125;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  height: 4.1rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  justify-content: center;
  background-color: #687eff;
  font-size: 1.4rem;
  font-weight: 400;
}
