
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.55rem;
}.group-1-tAV {
  align-items: center;
  width: 100%;
  display: flex;

  .clock9695486-2-qrR {
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 0.65rem;
    width: 2.9rem;
    height: 2.9rem;
    object-fit: cover;
  }
  .jadwal-sholat-Ath {
    line-height: 1.2125;
    color: #f6f4eb;
    white-space: nowrap;
    flex-shrink: 0;
    margin-top: 0.2rem;
    text-align: center;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
  }
}
