
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6.1rem;
}.iskandar-ojP {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  height: 1.9rem;
  text-align: center;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  line-height: 1.2125;
}
