
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194rem;
}.jadwal-sholat-AHo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #e7eefa;
  box-sizing: border-box;
  padding-right: 7rem;

  .auto-group-2wcy-6x9 {
    width: 13.4rem;
    height: 111.4rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 5.7rem;

    .rectangle-1-RjX {
      background-color: #190482;
      border-radius: 1.5rem;
      width: 10.4rem;
      height: 111.4rem;
      position: absolute;
      left: 1rem;
      top: 0;
    }
    .rectangle-26-9Qd {
      position: absolute;
      left: 1rem;
      top: 37.7rem;
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 12.4rem;
      height: 7.4rem;
    }
    .line-17-UC1 {
      width: 12rem;
      height: 0.5rem;
      position: absolute;
      left: 0;
      top: 19.2rem;
      background-color: #ffffff;
    }
    .megaphone2056523-1-c3K {
      width: 4.1rem;
      height: 4.3rem;
      position: absolute;
      left: 3.9rem;
      top: 51.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .note5837281-1-ic9 {
      object-fit: cover;
      vertical-align: top;
      width: 3.5rem;
      height: 3.4rem;
      position: absolute;
      left: 3.8rem;
      top: 39.7rem;
    }
    .calendar4818033-1-eEu {
      left: 3.9rem;
      top: 26.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.3rem;
      height: 4.8rem;
      position: absolute;
    }
    .home9385258-1-ZMs {
      position: absolute;
      left: 3rem;
      top: 10.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
    }
  }
  .auto-group-j36r-Uzd {
    position: relative;
    flex-shrink: 0;
    margin-top: 0.6rem;
    width: 167.9rem;
    height: 106.9rem;

    .rectangle-3-Bu3 {
      position: absolute;
      left: 1.2rem;
      top: 22.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(104, 126, 255, 0.1199999973);
      border-radius: 2rem;
      width: 163.9626rem;
      height: 84.2rem;
    }
    .item-21-UdF {
      color: #ffffff;
      width: 1.5rem;
      height: 1.7rem;
      left: 166.25rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      top: 30.8rem;
      text-align: center;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-28-ya1 {
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      position: absolute;
      top: 34.5rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      height: 1.7rem;
      left: 166.1rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .item-14-UWm {
      width: 1.6rem;
      height: 1.7rem;
      left: 166.2rem;
      top: 26.8rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      color: #ffffff;
    }
    .item-7-Nc9 {
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 23.4rem;
      left: 166.6rem;
      text-align: center;
      font-size: 1.4rem;
      color: #ffffff;
      width: 0.8rem;
      height: 1.7rem;
    }
    .polygon-1-sJ1 {
      height: 1.2024rem;
      position: absolute;
      left: 161.6rem;
      top: 14.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4021rem;
    }
    .rectangle-20-Pn9 {
      height: 4.4rem;
      position: absolute;
      left: 148.2rem;
      top: 1.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(183, 212, 255, 0.7300000191);
      border-radius: 2rem;
      width: 18.8rem;
    }
    .profile3135715-1-HMj {
      width: 6.5rem;
      height: 6.9rem;
      position: absolute;
      left: 145.7rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .dkm-RTw {
      line-height: 1.2125;
      color: #f6f4eb;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      top: 2.3rem;
      left: 152.9rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      width: 5.5rem;
      position: absolute;
    }
    .control7184152-1-X1B {
      width: 3.2rem;
      height: 3rem;
      position: absolute;
      left: 161.5rem;
      top: 2.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .teks-box-cari-EAV {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 4.1rem;
      display: flex;
      align-items: center;
      background-color: #fafbff;
      border-radius: 2rem;
      padding: 0.9rem 3.6rem 0.6rem 4.05rem;
      width: 42.8rem;
      height: 4rem;

      .search-vZ7 {
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
        color: #ad9a9a;
        white-space: nowrap;
        margin-right: 26.45rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .icon-search-outline-SGZ {
        margin-bottom: 0.5rem;
        width: 2.3rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-33-9Ay {
      width: 154.8rem;
      height: 6.4rem;
      position: absolute;
      left: 4.9rem;
      top: 34.4rem;
      background-color: #e7eefa;
      border-radius: 2rem;
    }
    .rectangle-34-f9K {
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 155.4rem;
      height: 6.7rem;
      position: absolute;
      left: 4.7rem;
      top: 42.5rem;
    }
    .rectangle-35-BNZ {
      height: 7rem;
      position: absolute;
      left: 4.6rem;
      top: 50.9rem;
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 155.5rem;
    }
    .rectangle-36-6VX {
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 155rem;
      height: 6.9rem;
      position: absolute;
      left: 4.7rem;
      top: 59.5rem;
    }
    .rectangle-37-pgR {
      width: 155.1rem;
      height: 7.1rem;
      position: absolute;
      left: 5rem;
      top: 67.8rem;
      background-color: #e7eefa;
      border-radius: 2rem;
    }
    .rectangle-38-8x1 {
      height: 6.6rem;
      position: absolute;
      left: 4.8rem;
      top: 76.5rem;
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 154.9rem;
    }
    .rectangle-39-fS9 {
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 154.9rem;
      height: 6.6rem;
      position: absolute;
      left: 4.8rem;
      top: 84.8rem;
    }
    .rectangle-40-PN9 {
      width: 154.9rem;
      height: 6.6rem;
      position: absolute;
      left: 4.8rem;
      top: 93.1rem;
      background-color: #e7eefa;
      border-radius: 2rem;
    }
    .rectangle-41-7J9 {
      background-color: #e7eefa;
      border-radius: 2rem;
      width: 154.9rem;
      height: 5.4rem;
      position: absolute;
      left: 4.8rem;
      top: 101.5rem;
    }
    .nim-RJq {
      line-height: 1.2125;
      white-space: nowrap;
      height: 3.9rem;
      position: absolute;
      left: 10.8rem;
      text-align: center;
      font-weight: 400;
      width: 6rem;
      top: 28.5rem;
      font-size: 3.2rem;
      color: #190482;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-0230220065-8U9 {
      color: #190482;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      text-align: center;
      line-height: 1.2125;
      top: 36rem;
      font-size: 2.5rem;
      font-weight: 400;
      width: 15.5rem;
      position: absolute;
      left: 7.3rem;
    }
    .park-jeongwoo-prm {
      height: 3.1rem;
      position: absolute;
      left: 32.4rem;
      top: 36.4rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 18.3rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #190482;
      text-align: center;
    }
    .aktif-L4R {
      width: 5.5rem;
      height: 3.1rem;
      left: 142.3rem;
      top: 36.3rem;
      text-align: center;
      font-size: 2.5rem;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      color: #190482;
      white-space: nowrap;
    }
    .nama-2T3 {
      position: absolute;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #190482;
      font-family: Inter, 'Source Sans Pro';
      width: 8.8rem;
      height: 3.9rem;
      left: 37.2rem;
      top: 28.2rem;
      font-size: 3.2rem;
      white-space: nowrap;
    }
    .arsitektur-XPo {
      width: 11.6rem;
      top: 36.3rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      position: absolute;
      left: 106.85rem;
      text-align: center;
    }
    .status-E3K {
      height: 3.9rem;
      position: absolute;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #190482;
      width: 9.8rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      top: 27.9rem;
      left: 140.2rem;
    }
    .item-0881024046360-L6M {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 67.1rem;
      top: 36.8rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      width: 19.9rem;
      height: 3.1rem;
      line-height: 1.2125;
    }
    .prodi-qJ1 {
      width: 7.9rem;
      height: 3.9rem;
      left: 108.75rem;
      top: 28.2rem;
      line-height: 1.2125;
      position: absolute;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .clock9695486-1-M1T {
      left: 90.8rem;
      top: 37.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 0.2rem;
      height: 0.2rem;
      position: absolute;
    }
    .notelpn-ULy {
      position: absolute;
      left: 70.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.4rem;
      height: 3.9rem;
      top: 28.2rem;
      text-align: center;
      font-size: 3.2rem;
      line-height: 1.2125;
    }
    .plus7500065-1-n6m {
      height: 5.5rem;
      position: absolute;
      left: 154.6rem;
      top: 15.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 5.5rem;
    }
    .frame-1-tvV {
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #e7eefa;
      width: 79.4rem;
      padding: 8.9rem 3.1rem 4.1rem 4.05rem;
      height: 97.6rem;
      position: absolute;
      left: 44.7rem;
      top: 3.9rem;
      overflow: hidden;
      box-sizing: border-box;

      .menambah-data-petugas-harian-yBF {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.15rem 10.3rem 0rem;
        text-align: center;
        color: #190482;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .auto-group-yhhb-fJy {
        margin: 0rem 8.3rem 4.2rem 2.95rem;
        width: calc(100% - 11.25rem);
        height: 6.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .nim-NDP {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #190482;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 7.9rem 0.8rem 0rem;
        }
        .auto-group-bbzb-UnD {
          box-sizing: border-box;
          width: 47.1rem;
          font-size: 3.2rem;
          text-align: center;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2rem;
          height: 100%;
          flex-shrink: 0;
          padding: 1.2rem 2.35rem 1.4rem 2.35rem;
          line-height: 1.2125;
          color: rgba(25, 4, 130, 0.3300000131);
          background-color: #c6dbfd;
        }
      }
      .auto-group-uydx-wA1 {
        margin: 0rem 8.3rem 4.2rem 1.05rem;
        width: calc(100% - 9.35rem);
        height: 6.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .nama-rnm {
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          margin: 0rem 7rem 0.8rem 0rem;
          text-align: center;
          font-size: 3.2rem;
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-mswh-aTs {
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #c6dbfd;
          box-sizing: border-box;
          font-size: 3.2rem;
          padding: 1.5rem 3.2rem 1.1rem 3.2rem;
          width: 47.1rem;
          height: 100%;
          border-radius: 2rem;
          text-align: center;
          line-height: 1.2125;
          color: rgba(25, 4, 130, 0.3300000131);
          flex-shrink: 0;
        }
      }
      .auto-group-sprw-dh3 {
        margin: 0rem 8.3rem 4.2rem 2rem;
        width: calc(100% - 10.3rem);
        height: 6.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .prodi-m2Z {
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          flex-shrink: 0;
          margin: 0rem 6.95rem 0.2rem 0rem;
          line-height: 1.2125;
          color: #190482;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-1may-gfK {
          box-sizing: border-box;
          padding: 1.5rem 2.4rem 1.1rem 2.4rem;
          border-radius: 2rem;
          width: 47.1rem;
          text-align: center;
          color: rgba(25, 4, 130, 0.3300000131);
          white-space: nowrap;
          background-color: #c6dbfd;
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          line-height: 1.2125;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-xtwb-k9P {
        margin: 0rem 8.3rem 5.1rem 0rem;
        width: calc(100% - 8.3rem);
        height: 6.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .notlpon-ry7 {
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.4rem 3.95rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #190482;
          flex-shrink: 0;
        }
        .auto-group-jrwx-ynq {
          width: 47.1rem;
          font-weight: 500;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          text-align: center;
          color: rgba(25, 4, 130, 0.3300000131);
          line-height: 1.2125;
          white-space: nowrap;
          background-color: #c6dbfd;
          border-radius: 2rem;
          padding: 1.5rem 2.4rem 1.1rem 2.4rem;
          height: 100%;
          font-size: 3.2rem;
        }
      }
      .auto-group-hazx-r5w {
        flex-shrink: 0;
        margin: 0rem 26.6rem 13rem 2.05rem;
        width: calc(100% - 28.65rem);
        height: 7.5rem;
        display: flex;
        align-items: center;

        .status-B8D {
          text-align: center;
          font-weight: 400;
          color: #190482;
          margin: 0rem 5rem 1.8rem 0rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-owxy-h6Z {
          box-sizing: border-box;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          padding: 1.7rem 3.3rem 1.9rem 3.3rem;
          color: rgba(25, 4, 130, 0.3300000131);
          background-color: #c6dbfd;
          border-radius: 2rem;
          height: 100%;
          text-align: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 28.8rem;
          font-weight: 500;
          flex-shrink: 0;
        }
      }
      .auto-group-egsm-y45 {
        align-items: center;
        flex-shrink: 0;
        margin-left: 2.35rem;
        width: calc(100% - 2.35rem);
        height: 6.2rem;
        display: flex;

        .auto-group-rqhf-twj {
          height: 100%;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          font-size: 2.4rem;
          align-items: center;
          border-radius: 2rem;
          width: 18rem;
          white-space: nowrap;
          background-color: #e00000;
          flex-shrink: 0;
          margin-right: 33.9rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
        }
        .auto-group-mnev-PNh {
          height: 100%;
          line-height: 1.2125;
          align-items: center;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          width: 18rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          background-color: #1b77ff;
          border-radius: 2rem;
        }
      }
    }
  }
}
