
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 193rem;
}.login-user-2-cG1 {
  flex-direction: column;
  background-color: #edf7fc;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-qwwm-YfT {
    width: 100%;
    height: 187.7rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-5-gFs {
      height: 102.2rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 113.4rem;
    }
    .ellipse-4-cQR {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 81.7rem;
      height: 72.6rem;
      position: absolute;
    }
    .ellipse-3-kWd {
      width: 57.2rem;
      height: 54.5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-6-VDK {
      left: 124rem;
      top: 51.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 113.4rem;
      height: 102.2rem;
      position: absolute;
    }
    .ellipse-8-1hT {
      vertical-align: top;
      width: 57.2rem;
      height: 54.5rem;
      position: absolute;
      left: 152.1rem;
      top: 73.2rem;
      object-fit: contain;
    }
    .ellipse-7-9of {
      left: 139.8rem;
      top: 64rem;
      object-fit: contain;
      vertical-align: top;
      width: 81.7rem;
      height: 72.6rem;
      position: absolute;
    }
    .rectangle-28-5hK {
      position: absolute;
      left: 23.5rem;
      top: 23.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9ebfc;
      width: 145.9367rem;
      height: 76.7rem;
    }
    .masuk-mq3 {
      text-align: center;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #231f20;
      position: absolute;
      left: 36.75rem;
      top: 34.7rem;
      white-space: nowrap;
      width: 35.8rem;
      height: 11.7rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-30-UDf {
      position: absolute;
      left: 31.7rem;
      top: 53.6rem;
      background-color: #80b3ff;
      border-radius: 2rem;
      width: 44rem;
      height: 6.1rem;
    }
    .rectangle-31-zC1 {
      height: 6rem;
      position: absolute;
      left: 31.7rem;
      top: 66.9rem;
      background-color: #80b3ff;
      border-radius: 2rem;
      width: 44rem;
    }
    .ellipse-12-Kk5 {
      top: 23.2979rem;
      object-fit: contain;
      vertical-align: top;
      width: 65.0519rem;
      height: 77.506rem;
      position: absolute;
      left: 105.3rem;
    }
    .ellipse-13-rED {
      top: 34.8827rem;
      object-fit: contain;
      vertical-align: top;
      width: 39.696rem;
      height: 54.5347rem;
      position: absolute;
      left: 130.3rem;
    }
    .ellipse-14-B1b {
      top: 25.6975rem;
      object-fit: contain;
      vertical-align: top;
      width: 51.8124rem;
      height: 72.6074rem;
      position: absolute;
      left: 118rem;
    }
    .masukan-kata-sandi-K7o {
      top: 68.7rem;
      color: rgba(25, 4, 130, 0.3700000048);
      left: 33.55rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      width: 19.5rem;
      height: 2.5rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .kata-sandi-Diy {
      font-weight: 500;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      top: 64.2rem;
      text-align: center;
      width: 10.3rem;
      left: 32.95rem;
      font-size: 2rem;
      color: #190482;
    }
    .masukan-nama-pengguna-jxD {
      text-align: center;
      height: 3.9rem;
      white-space: nowrap;
      display: flex;
      color: rgba(25, 4, 130, 0.3700000048);
      align-items: baseline;
      width: 24.7rem;
      left: 33.5rem;
      top: 54.5rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      position: absolute;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';

      .masukan-nama-pengguna-jxD-sub-0 {
      }
      .masukan-nama-pengguna-jxD-sub-1 {
        font-weight: 500;
        line-height: 1.2125;
        color: rgba(25, 4, 130, 0.3700000048);
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
      }
    }
    .nama-pengguna-35j {
      width: 15.6rem;
      top: 49.5rem;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      text-align: center;
      font-size: 3.2rem;
      color: rgba(25, 4, 130, 0.3700000048);
      line-height: 1.2125;
      display: flex;
      height: 3.9rem;
      position: absolute;
      left: 32.2rem;
      white-space: nowrap;

      .nama-pengguna-35j-sub-0 {
      }
      .nama-pengguna-35j-sub-1 {
        font-weight: 500;
        line-height: 1.2125;
        color: #190482;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
      }
    }
    .item-1-10-Lyw {
      vertical-align: top;
      width: 82.6rem;
      height: 68.2rem;
      position: absolute;
      left: 89rem;
      top: 32.1rem;
      object-fit: cover;
    }
    .button-masuk-siy {
      color: #0e0056;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-weight: 500;
      line-height: 1.2125;
      top: 83.9rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      height: 5.3rem;
      left: 45.1rem;
      position: absolute;
      justify-content: center;
      border-radius: 2rem;
      width: 17.1rem;
      cursor: pointer;
      white-space: nowrap;
      align-items: center;
      background-color: #80b3ff;
      text-align: center;
      font-size: 3rem;
    }
  }
  .auto-group-2ej3-uff {
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 53.2rem 7.6rem;
    width: 113.4rem;
    height: 102.2rem;
    position: relative;
    object-fit: contain;
  }
}
