
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.4rem;
}.maulid-nabi-7H3 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  height: 1.9rem;
  text-align: center;
  line-height: 1.2125;
  color: #7752fe;
  font-family: Inter, 'Source Sans Pro';
}
