
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 218.2rem;
}.pilihan-hJZ {
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem 19.8rem 2rem 2rem;
  width: 100%;
  column-gap: 3.6rem;
  align-items: flex-start;
  border: dashed 0.1rem #9747ff;

  .select0-1q3 {
    width: 36.4rem;
    row-gap: 5.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .menu-Z5s {
      border-radius: 5rem;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      background-color: #687eff;
      text-align: center;
      line-height: 1.2125;
      font-size: 3.2rem;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: 700;
      display: flex;
      flex-shrink: 0;
      padding: 1.5rem 4.65rem 1.8rem 4.65rem;
      width: 100%;

      .menu-Z5s-sub-0 {
        line-height: 1.2125;
        color: #e7eefa;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 700;
      }
      .menu-Z5s-sub-1 {
      }
    }
    .menu-5TX {
      cursor: pointer;
      font-size: 2.4rem;
      color: #e7eefa;
      border-radius: 5rem;
      box-sizing: border-box;
      width: 100%;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      background-color: #687eff;
      line-height: 1.2125;
      flex-shrink: 0;
      padding: 1.5rem 3rem 2.7rem 3rem;
      text-align: center;
      white-space: nowrap;
    }
    .menu-yJ1 {
      box-sizing: border-box;
      padding: 1.5rem 1.95rem 2.7rem 1.95rem;
      width: 100%;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      text-align: center;
      color: #e7eefa;
      background-color: #687eff;
      border-radius: 5rem;
    }
    .menu-rMo {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      background-color: #687eff;
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      padding: 1.5rem 3.1rem 2.7rem 3.1rem;
      font-weight: 700;
      width: 100%;
      font-size: 2.4rem;
      color: #e7eefa;
      border-radius: 5rem;
    }
  }
  .select1-jgV {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 36.4rem;
    cursor: pointer;
    row-gap: 5.5rem;
    align-items: center;

    .menu-Ue5 {
      font-family: Inter, 'Source Sans Pro';
      border-radius: 5rem;
      flex-shrink: 0;
      padding: 1.5rem 4.6rem 1.8rem 4.6rem;
      line-height: 1.2102272511;
      color: #687eff;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 700;
      display: flex;
      align-items: baseline;
      box-sizing: border-box;
      width: 100%;
      white-space: nowrap;
      background-color: #e7eefa;

      .menu-Ue5-sub-0 {
        font-weight: 700;
        line-height: 1.2125;
        color: #687eff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
      }
      .menu-Ue5-sub-1 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #687eff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .menu-KHK {
      line-height: 1.2125;
      white-space: nowrap;
      background-color: #687eff;
      border-radius: 5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 3rem 2.7rem 3rem;
      text-align: center;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 700;
      width: 100%;
      cursor: pointer;
      font-size: 2.4rem;
    }
    .menu-oCV {
      width: 100%;
      text-align: center;
      line-height: 1.2125;
      background-color: #687eff;
      border-radius: 5rem;
      box-sizing: border-box;
      white-space: nowrap;
      padding: 1.5rem 1.95rem 2.7rem 1.95rem;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .menu-h2y {
      background-color: #687eff;
      flex-shrink: 0;
      box-sizing: border-box;
      text-align: center;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.2125;
      color: #e7eefa;
      padding: 1.5rem 3.1rem 2.7rem 3.1rem;
      font-size: 2.4rem;
      width: 100%;
      cursor: pointer;
      border-radius: 5rem;
    }
  }
  .select2-a6m {
    width: 36.4rem;
    row-gap: 5.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .menu-hx5 {
      background-color: #687eff;
      border-radius: 5rem;
      box-sizing: border-box;
      width: 100%;
      font-weight: 700;
      cursor: pointer;
      text-align: center;
      padding: 1.5rem 4.65rem 1.8rem 4.65rem;
      white-space: nowrap;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      font-size: 3.2rem;
      line-height: 1.2125;

      .menu-hx5-sub-0 {
        color: #e7eefa;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .menu-hx5-sub-1 {
      }
    }
    .menu-GNu {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #687eff;
      font-family: Inter, 'Source Sans Pro';
      background-color: #e7eefa;
      border-radius: 5rem;
      padding: 1.5rem 3rem 2.7rem 3rem;
    }
    .menu-AjB {
      color: #e7eefa;
      border-radius: 5rem;
      padding: 1.5rem 1.95rem 2.7rem 1.95rem;
      text-align: center;
      font-size: 2.4rem;
      background-color: #687eff;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
    }
    .menu-rc1 {
      font-size: 2.4rem;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.5rem 3.1rem 2.7rem 3.1rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 100%;
      text-align: center;
      color: #e7eefa;
      background-color: #687eff;
      cursor: pointer;
      border-radius: 5rem;
      flex-shrink: 0;
    }
  }
  .select3-9LD {
    width: 36.4rem;
    cursor: pointer;
    row-gap: 5.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .menu-5jf {
      box-sizing: border-box;
      width: 100%;
      background-color: #687eff;
      border-radius: 5rem;
      cursor: pointer;
      align-items: baseline;
      padding: 1.5rem 4.65rem 1.8rem 4.65rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 700;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      line-height: 1.2125;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';

      .menu-5jf-sub-0 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e7eefa;
        font-family: Inter, 'Source Sans Pro';
      }
      .menu-5jf-sub-1 {
      }
    }
    .menu-tBK {
      cursor: pointer;
      text-align: center;
      width: 100%;
      font-weight: 700;
      color: #e7eefa;
      background-color: #687eff;
      flex-shrink: 0;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.5rem 3rem 2.7rem 3rem;
      font-size: 2.4rem;
      border-radius: 5rem;
    }
    .menu-NsB {
      width: 100%;
      text-align: center;
      font-size: 2.4rem;
      color: #687eff;
      background-color: #e7eefa;
      white-space: nowrap;
      border-radius: 5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 1.95rem 2.7rem 1.95rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .menu-UvD {
      font-size: 2.4rem;
      white-space: nowrap;
      background-color: #687eff;
      width: 100%;
      cursor: pointer;
      text-align: center;
      color: #e7eefa;
      border-radius: 5rem;
      box-sizing: border-box;
      padding: 1.5rem 3.1rem 2.7rem 3.1rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 700;
      flex-shrink: 0;
    }
  }
  .select4-yc5 {
    width: 36.4rem;
    row-gap: 5.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .menu-hny {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 5rem;
      flex-shrink: 0;
      padding: 1.5rem 4.65rem 1.8rem 4.65rem;
      text-align: center;
      font-size: 3.2rem;
      color: #e7eefa;
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      line-height: 1.2125;
      align-items: baseline;
      display: flex;
      background-color: #687eff;

      .menu-hny-sub-0 {
        color: #e7eefa;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .menu-hny-sub-1 {
      }
    }
    .menu-gQ1 {
      background-color: #687eff;
      width: 100%;
      color: #e7eefa;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 5rem;
      text-align: center;
      line-height: 1.2125;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.5rem 3rem 2.7rem 3rem;
      font-weight: 700;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2.4rem;
    }
    .menu-ye1 {
      font-size: 2.4rem;
      color: #e7eefa;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      background-color: #687eff;
      border-radius: 5rem;
      flex-shrink: 0;
      padding: 1.5rem 1.95rem 2.7rem 1.95rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.2125;
    }
    .menu-szH {
      width: 100%;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #687eff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 3.1rem 2.7rem 3.1rem;
      text-align: center;
      font-weight: 700;
      background-color: #e7eefa;
      border-radius: 5rem;
    }
  }
}
