
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 193rem;
}.prg-4-bJy {
  box-sizing: border-box;
  padding: 13.6rem 11.3rem 19.9rem 11.2rem;
  display: flex;
  background-color: #e4f5f9;
  width: 100%;
  overflow: hidden;
  position: relative;
  column-gap: 14.3rem;
  align-items: center;

  .auto-group-jhqv-72R {
    width: 47.3rem;
    height: 77.9rem;
    flex-shrink: 0;

    .rectangle-55-3Rs {
      background-color: #ffffff;
      width: 100%;
      height: 77.9rem;
    }
  }
  .rectangle-56-zM7 {
    width: 47.3rem;
    height: 77.9rem;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .rectangle-57-vkZ {
    width: 47.3rem;
    height: 77.9rem;
    background-color: #ffffff;
    flex-shrink: 0;
  }
}
