
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 196.588rem;
}.tambah-petugas-5WZ {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;

  .auto-group-banm-S6D {
    width: 42.4884rem;
    height: 111.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-49-Zgd {
      width: 41.9rem;
      height: 111.4rem;
      position: absolute;
      left: 0.5884rem;
      top: 0;
      background-color: #687eff;
      border-radius: 4rem;
    }
    .group-13-6Am {
      border-radius: 3rem;
      box-sizing: border-box;
      width: 8.6717rem;
      position: absolute;
      display: flex;
      background-color: #80b3ff;
      flex-direction: column;
      padding: 24.6rem 0.283rem 42.8rem 1.788rem;
      height: 111.4rem;
      left: 0;
      top: 0;
      align-items: center;

      .home9385258-1-BT7 {
        vertical-align: top;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0rem 0.752rem 6.878rem 0rem;
        width: 5.8483rem;
        height: 6.3221rem;
        object-fit: cover;
      }
      .calendar4818033-1-Hm3 {
        margin: 0rem 0.6rem 8.1rem 0rem;
        width: 5.6rem;
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .note5837281-1-D8u {
        margin: 0rem 0.671rem 8.194rem 0rem;
        width: 3.5292rem;
        height: 3.7061rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .megaphone2056523-1-jN9 {
        width: 5.4rem;
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 1.2rem;
      }
    }
    .item-1-10-SXT {
      object-fit: cover;
      vertical-align: top;
      width: 13.9rem;
      height: 11.9rem;
      position: absolute;
      left: 10.6884rem;
      top: 0.7rem;
    }
    .shafa-al-firdaus-ko3 {
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Baloo, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.9rem;
      height: 2.1rem;
      top: 4.8rem;
      text-align: center;
      font-size: 1.6rem;
      position: absolute;
      left: 23.0384rem;
    }
    .pilihan-eNd {
      height: 44.4rem;
      display: flex;
      width: 33.3rem;
      position: absolute;
      left: 9.1884rem;
      top: 24.2rem;
      row-gap: 5.3907rem;
      align-items: center;
      flex-direction: column;

      .menu-94V {
        width: 100%;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        border-radius: 5rem;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.2125;
        color: #e7eefa;
        display: flex;
        flex-shrink: 0;
        padding: 1.47rem 3.692rem 1.687rem 3.692rem;
        cursor: pointer;
        font-size: 3.2rem;
        background-color: #687eff;

        .menu-94V-sub-0 {
          color: #e7eefa;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .menu-94V-sub-1 {
        }
      }
      .menu-4am {
        flex-shrink: 0;
        padding: 1.47rem 2.042rem 2.587rem 2.042rem;
        cursor: pointer;
        background-color: #687eff;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #e7eefa;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .menu-jwo {
        padding: 1.47rem 0.992rem 2.587rem 0.992rem;
        width: 100%;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        flex-shrink: 0;
        font-size: 2.4rem;
        box-sizing: border-box;
        color: #e7eefa;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #687eff;
      }
      .menu-dXP {
        font-family: Inter, 'Source Sans Pro';
        padding: 1.47rem 2.142rem 2.587rem 2.142rem;
        cursor: pointer;
        flex-shrink: 0;
        width: 100%;
        background-color: #687eff;
        color: #e7eefa;
        border-radius: 5rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-weight: 700;
        white-space: nowrap;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
  .auto-group-swpq-W5P {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 154.1rem;
    align-items: center;

    .auto-group-ep4q-r9F {
      width: calc(100% - 8.4rem);
      height: 6.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 5.6rem 6.2rem 2.8rem;

      .teks-box-cari-kkR {
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 81.6rem 1.9rem 0rem;
        box-sizing: border-box;
        padding: 0.9rem 2.296rem 0.6rem 4.05rem;
        display: flex;
        align-items: center;
        background-color: #c6dbfd;

        .search-FSH {
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 27.7184rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ad9a9a;
          flex-shrink: 0;
        }
        .icon-search-outline-yNH {
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 2.3357rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-dxjw-H85 {
        width: 21.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-20-Rk5 {
          background-color: rgba(255, 238, 217, 0.7300000191);
          border-radius: 2rem;
          width: 18.8rem;
          height: 4.4rem;
          position: absolute;
          left: 2.5rem;
          top: 1.6rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .profile3135715-1-iDP {
          height: 6.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 6.5rem;
        }
        .dkm-ExR {
          color: #87c4ff;
          white-space: nowrap;
          height: 3rem;
          position: absolute;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 5.5rem;
          left: 7.2rem;
          top: 2.3rem;
          font-weight: 400;
        }
        .control7184152-1-Yy7 {
          width: 3.2rem;
          height: 3rem;
          position: absolute;
          left: 15.8rem;
          top: 2.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-6buu-riu {
      width: 100%;
      height: 97.4rem;
      position: relative;
      flex-shrink: 0;

      .plus7500065-2-oPF {
        width: 4.6rem;
        height: 4.6rem;
        position: absolute;
        left: 142.7rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-1-KcV {
        height: 97.4rem;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        padding: 8.9rem 4.05rem 3.9rem 4.05rem;
        width: 154.1rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #e7eefa;
        box-sizing: border-box;

        .menambah-data-petugas-harian-d7P {
          margin-bottom: 10.3rem;
          width: 100%;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 500;
          color: #190482;
          white-space: nowrap;
        }
        .auto-group-mxyf-YVF {
          width: calc(100% - 85rem);
          height: 6.5rem;
          display: flex;
          align-items: center;
          margin: 0rem 82.05rem 4.2rem 2.95rem;

          .nim-fJy {
            flex-shrink: 0;
            margin: 0rem 7.9rem 0.8rem 0rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 3.2rem;
            color: #190482;
          }
          .auto-group-yft5-BHK {
            border-radius: 2rem;
            box-sizing: border-box;
            text-align: center;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            width: 47.1rem;
            font-size: 3.2rem;
            line-height: 1.2125;
            flex-shrink: 0;
            background-color: #c6dbfd;
            padding: 1.2rem 2.35rem 1.4rem 2.35rem;
            height: 100%;
            color: rgba(25, 4, 130, 0.3300000131);
            white-space: nowrap;
          }
        }
        .auto-group-xozh-q6y {
          margin: 0rem 82.05rem 4.2rem 1.05rem;
          width: calc(100% - 83.1rem);
          height: 6.5rem;
          display: flex;
          align-items: center;

          .nama-xSV {
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #190482;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 7rem 0.8rem 0rem;
            flex-shrink: 0;
          }
          .auto-group-8xvh-eq7 {
            box-sizing: border-box;
            width: 47.1rem;
            line-height: 1.2125;
            color: rgba(25, 4, 130, 0.3300000131);
            background-color: #c6dbfd;
            border-radius: 2rem;
            flex-shrink: 0;
            padding: 1.5rem 3.2rem 1.1rem 3.2rem;
            height: 100%;
            font-weight: 500;
            text-align: center;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-mh8m-ipy {
          margin: 0rem 82.05rem 4.2rem 2rem;
          width: calc(100% - 84.05rem);
          height: 6.5rem;
          display: flex;
          align-items: center;

          .prodi-z1o {
            margin: 0rem 6.95rem 0.2rem 0rem;
            line-height: 1.2125;
            white-space: nowrap;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            color: #190482;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-n1az-r41 {
            height: 100%;
            font-size: 3.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 2.4rem 1.1rem 2.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 500;
            white-space: nowrap;
            background-color: #c6dbfd;
            width: 47.1rem;
            text-align: center;
            color: rgba(25, 4, 130, 0.3300000131);
            border-radius: 2rem;
          }
        }
        .auto-group-rmer-goj {
          margin: 0rem 82.05rem 5.1rem 0rem;
          width: calc(100% - 82.05rem);
          height: 6.5rem;
          display: flex;
          align-items: center;

          .notlpon-otM {
            margin: 0.4rem 3.95rem 0rem 0rem;
            text-align: center;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.2125;
            color: #190482;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-yhy5-89w {
            height: 100%;
            line-height: 1.2125;
            padding: 1.5rem 2.4rem 1.1rem 2.4rem;
            border-radius: 2rem;
            background-color: #c6dbfd;
            flex-shrink: 0;
            box-sizing: border-box;
            text-align: center;
            color: rgba(25, 4, 130, 0.3300000131);
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 47.1rem;
            font-size: 3.2rem;
            font-weight: 500;
          }
        }
        .auto-group-hqzb-bJR {
          margin: 0rem 100.35rem 13rem 2.05rem;
          width: calc(100% - 102.4rem);
          height: 7.5rem;
          display: flex;
          align-items: center;

          .status-v5o {
            font-weight: 400;
            color: #190482;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5rem 1.8rem 0rem;
            text-align: center;
            font-size: 3.2rem;
            line-height: 1.2125;
          }
          .auto-group-lan5-qiZ {
            background-color: #c6dbfd;
            border-radius: 2rem;
            width: 28.8rem;
            font-size: 3.2rem;
            line-height: 1.2125;
            white-space: nowrap;
            height: 100%;
            text-align: center;
            font-weight: 500;
            color: rgba(25, 4, 130, 0.3300000131);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.7rem 3.3rem 1.9rem 3.3rem;
          }
        }
        .auto-group-jjq5-W41 {
          width: calc(100% - 76.1rem);
          height: 6.2rem;
          display: flex;
          align-items: center;
          margin: 0rem 73.75rem 0rem 2.35rem;

          .auto-group-c4hf-RRs {
            height: 100%;
            border-radius: 2rem;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            margin-right: 33.9rem;
            width: 18rem;
            text-align: center;
            color: #ffffff;
            display: flex;
            background-color: #e00000;
            line-height: 1.2125;
          }
          .auto-group-y2e5-VRj {
            width: 18rem;
            height: 100%;
            white-space: nowrap;
            border-radius: 2rem;
            flex-shrink: 0;
            font-weight: 500;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.2125;
            align-items: center;
            justify-content: center;
            background-color: #1b77ff;
          }
        }
      }
    }
  }
}
