
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 2.8rem;
}.terbit-o5j {
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  font-size: 1rem;
  height: 1.3rem;
  text-align: center;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
}
