
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47rem;
}.wired-lineal-1923-mosque-1-wKX {
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  height: 51.3rem;
}
