@{
    ViewData["Title"] = "Jadwal Petugas";
}

<div class="card-body">
    <a class="btn-primary" asp-controller="JadwalPetugas" asp-action="Create">Tambah Data</a>
    </br>

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">NIM</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Tugas</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>

</div>
<script>
    loadTable()

    function loadTable() {
        var hostname = "https://localhost:44307/"
        var url = hostname + "GetAllJadwalPetugasHarian"
        var method = "GET"

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data
                list.forEach(function (item) {
                    var newRow = '<tr>' +
                        '<td>' + item.nim + '</td>' +
                        '<td>' + item.tanggal + '</td>' +
                        '<td>' + item.waktu + '</td>' +
                        '<td>' + item.tugas + '</td>' +
                        '<td>' +
                        '<a class="btn btn-secondary" href="/JadwalPetugas/Update?id_jadwal=' + item.id_jadwal + '">Update</a>' +
                        '<button class="btn btn-danger" value="' + item.id_jadwal + '" onclick="hapus(this.value)">Delete</button>' +
                        '</td>' +
                        '</tr>';
                    $('#tbody').append(newRow);
                });
            },
        });
    }

    function hapus(id) {
        var hostname = "https://localhost:44307/"
        var url = hostname + "DeleteJadwalPetugasHarian?id_jadwal=" + id_jadwal
        var method = "DELETE"

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                alert("Data Petugas Harian Berhasil Dihapus")
                location.reload();
            }
        })
    }
</script>
