@{
    ViewData["Title"] = "Jadwal Petugas";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Jadwal Petugas Harian</h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-tambah" asp-controller="JadwalPetugas" asp-action="Create">Tambah Data</a>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">NIM</th>
                                        <th scope="col">Tanggal</th>
                                        <th scope="col">Waktu</th>
                                        <th scope="col">Tugas</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        loadTable();

        function loadTable() {
            var hostname = "https://localhost:44307/";
            var url = hostname + "GetAllJadwalPetugasHarian";
            var method = "GET";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    var list = data.data;
                    list.forEach(function (item) {
                        // Membuat objek Intl.DateTimeFormat dengan opsi format yang diinginkan
                        var options = { year: 'numeric', month: 'long', day: 'numeric' };
                        var formatter = new Intl.DateTimeFormat('id-ID', options);

                        // Mengonversi tanggal menjadi string dengan format yang diinginkan
                        var formattedTanggal = formatter.format(new Date(item.tanggal));


                        var newRow =
                            "<tr align='center'>" +
                            "<td>" +
                            item.nim +
                            "</td>" +
                            "<td>" +
                            formattedTanggal +
                            "</td>" +
                            "<td>" +
                            item.waktu +
                            "</td>" +
                            "<td>" +
                            item.tugas +
                            "</td>" +
                            "<td>" +
                            '<a class="btn btn-secondary" href="/JadwalPetugas/Update?id_jadwal=' +
                            item.id_jadwal +
                            '">Update</a>' +
                            '<button class="btn btn-danger" value="' +
                            item.id_jadwal +
                            '" onclick="hapus(this.value)">Delete</button>' +
                            "</td>" +
                            "</tr>";
                        $("#tbody").append(newRow);
                    });
                },
            });
        }

        function hapus(id) {
            var hostname = "https://localhost:44307/";
            var url = hostname + "DeleteJadwalPetugasHarian?id_jadwal=" + id_jadwal;
            var method = "DELETE";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    alert("Data Jadwal Petugas Harian Berhasil Dihapus");
                    location.reload();
                },
            });
        }
    </script>
</div>
