@{
    ViewData["Title"] = "Pengumuman";
    int no = 0;
}
<style>
    .table-container {
        max-height: 595px;
        overflow-y: auto;
    }

    .table-striped td th {
        font-size: 1.3rem;
        line-height: normal;
    } 
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pengumuman</h4>
                    </div>
                    <div class="card-body">
                        <div class="my-3" style="margin-top: 40px;">
                            <a class="btn btn-primary" asp-controller="Pengumuman" asp-action="Create">Tambah Data</a>
                        </div>
                        <div class="row my-4" style="height: 50px">
                            <div class="col-md-12 w-50 h-100 d-flex align-items-start filter-container">
                                <label for="statusFilter" style="width: 30%;height: 100%;display: flex;align-items: center;font-size: 1.3rem;">Filter Berdasarkan Status :</label>
                                <select class="form-control" id="statusFilter" style="width: 55%;height: 100%;font-size: 1.3rem;">
                                    <option value="">Semua</option>
                                    <option value="1">Tayang</option>
                                    <option value="4">Tidak Tayang</option>
                                    <option value="3">Dijadwalkan</option>
                                    <option value="5">Selesai</option>
                                </select>
                            </div>
                            <div class="col-md-12 w-50 d-flex align-items-end search-container">
                                <label for="searchInput" style="width: 10%;height: 100%;display: flex;align-items: center;font-size: 1.3rem;">Cari :</label>
                                <input type="text" id="searchInput" class="form-control" style="width: 70%;height: 100%;font-size: 1.3rem;" />
                            </div>
                        </div>

                        <div class="table-responsive table-container">
                            <table id="table-data" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="font-size: 1.3rem;">No.</th>
                                        <th scope="col" style="font-size: 1.3rem;">Judul</th>
                                        <th scope="col" style="font-size: 1.3rem;">Jenis</th>
                                        <th scope="col" style="font-size: 1.3rem;">Isi</th>
                                        <th scope="col" style="font-size: 1.3rem;">Tanggal Mulai</th>
                                        <th scope="col" style="font-size: 1.3rem;">Tanggal Selesai</th>
                                        <th scope="col" style="font-size: 1.3rem;">Status</th>
                                        <th scope="col" style="font-size: 1.3rem;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
           
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@* <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- ... (previous HTML code) ... -->
<script>
    $(document).ready(function () {
        $('#table-data').DataTable();
    });
</script> *@
<script>

    function ubahStatus(id) {
        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdateStatusPengumuman?id_pengumuman=" + id + "&newStatus=4";
        var method = "PATCH";
        var updateData = {
            status: '4'
        };
        var jwtToken = '@ViewBag.Token';

        swal({
            title: "Ubah Status Pengumuman",
            text: "Apakah Anda yakin ingin mengubah status menjadi Tidak Tayang?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + '@ViewBag.Token'
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            swal("Berhasil!", "Status berhasil diubah menjadi Tidak Tayang", "success").then(() => {
                                location.reload();
                            });
                        } else {
                            swal("Gagal", "Gagal mengubah status Pengumuman", "error");
                        }
                    },
                    error: function (errors) {
                        console.log(errors);
                        swal("Error", "Terjadi kesalahan saat mengubah Pengumuman", "error");
                    }
                });
            }
        });
    }


    $(document).ready(function () {
        loadTable();

        $("#statusFilter, #searchInput").on("input", function () {
            $("#tbody").empty();
            loadTable();
        });

        function loadTable() {
            var hostname = "https://localhost:44307/";
            var url = hostname + "GetAllPengumuman";
            var method = "GET";

            var statusFilter = $("#statusFilter").val();
            var searchInput = $("#searchInput").val(); // Get the value from the search input
            var jwtToken = '@ViewBag.Token';

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + jwtToken
                },
                success: function (data) {
                    var list = data.data;
                    var currentDate = new Date();
                    var number = 1;

                    list.forEach(function (item) {
                        var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
                        var formatter = new Intl.DateTimeFormat('id-ID', options);

                        var formattedTanggalMulai = formatter.format(new Date(item.tanggal_mulai));
                        var formattedTanggalSelesai = formatter.format(new Date(item.tanggal_selesai));

                        var jenisText = getJenisText(item.jenis);
                        var statusText = getStatusText(item.status);

                        if (item.status === 5) {
                            // Set an interval to reload the page every 60 seconds (adjust as needed)
                            setInterval(function () {
                                location.reload();
                            }, 900000);
                        }

                        // Check if the end date is in the past
                        // Check if the end date is in the past and the announcement type is "Kegiatan" or "Pemberitahuan"
                        if (
                            new Date(item.tanggal_selesai) < currentDate &&
                            item.status !== 5 &&
                            (item.jenis === 0 || item.jenis === 1)
                        ) {
                            // Make an asynchronous request to update the status in the database
                            var updateStatusUrl = "https://localhost:44307/UpdateStatusPengumuman?id_pengumuman=" + item.id_pengumuman + "&newStatus=5";

                            $.ajax({
                                url: updateStatusUrl,
                                method: "PATCH",
                                contentType: "application/json",
                                headers: {
                                    'Authorization': 'Bearer ' + jwtToken
                                },
                                success: function (data) {
                                    swal("Sukses!", data.message, "success").then(() => {
                                        location.reload();
                                    });
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    swal('Gagal!','Gagal mengubah status: ' + textStatus,'error');
                                }
                            });

                            // Update the status in memory (optional)
                            item.status = 5;
                        }

                       
                        var statusText = getStatusText(item.status);
                        

                        var newRow =
                            "<tr>" +
                            "<td class='wrap-column' style='max-width: 50rem;font-size: 1.3rem;'>" +
                            number +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 50rem;font-size: 1.3rem;'>" +
                            item.judul +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 30rem; font-size: 1.3rem;'>" +
                            jenisText +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 100rem; font-size: 1.3rem;'>" +
                            decodeURIComponent(item.isi) +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 60rem; font-size: 1.3rem;'>" +
                            formattedTanggalMulai +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 60rem; font-size: 1.3rem;'>" +
                            formattedTanggalSelesai +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 30rem;font-size: 1.3rem;'>" +
                            statusText +
                            "</td>" +
                            "<td class='wrap-column' style='max-width: 80rem; font-size: 1.3rem;'>" +
                            '<a class="btn btn-outline-info btn-icon" href="/Pengumuman/Update?id=' +
                            item.id_pengumuman +
                            '"data-toggle="tooltip" data-placement="top" title="Ubah Data Pengumuman"><i class="bi bi-pencil-square"></i></a>' +
                            '<button class="btn btn-outline-danger btn-icon" value="' + item.id_pengumuman + '" onclick="ubahStatus(\'' + item.id_pengumuman + '\')" style="margin-left: 10px;margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="Pengumuman Tidak Ditayangkan"><i class="bi bi-dash-circle-fill"></i></button>' +
                            "</td>" +
                            "</tr>";

                        // Apply status and search filters
                        if (
                            (statusFilter === "" || item.status.toString() === statusFilter) &&
                            (searchInput === "" ||
                                item.judul.toLowerCase().includes(searchInput.toLowerCase()) ||
                                item.isi.toLowerCase().includes(searchInput.toLowerCase()) ||
                                formattedTanggalMulai.toLowerCase().includes(searchInput.toLowerCase()) ||
                                formattedTanggalSelesai.toLowerCase().includes(searchInput.toLowerCase()) ||
                                jenisText.toLowerCase().includes(searchInput.toLowerCase()) ||
                                statusText.toLowerCase().includes(searchInput.toLowerCase())
                            )
                        ) {
                            $("#tbody").append(newRow);
                            number++;
                        }
                    });
                },
            });
        }
        function isWithinRange(startDate, endDate, currentDate) {
            var startDateTime = new Date(startDate);
            var endDateTime = new Date(endDate);

            // Assuming endDateTime is inclusive (i.e., the event lasts until the end of the day)

            return currentDate >= startDateTime && currentDate <= endDateTime;
        }

        function getJenisText(jenis) {
            switch (jenis) {
                case 0:
                    return "Kegiatan";
                case 1:
                    return "Pemberitahuan";
                case 2:
                    return "Teks Berjalan";
                default:
                    return "Unknown";
            }
        }


        function getStatusText(status) {
            switch (status) {
                case 1:
                    return "Tayang";
                case 4:
                    return "Tidak Tayang";
                case 3:
                    return "Dijadwalkan";
                case 5:
                    return "Selesai";
                default:
                    return "Tidak Valid";
            }
        }

        function hapus(id) {
            var hostname = "https://localhost:44307/";
            var url = hostname + "DeletePengumuman?id_pengumuman=" + id;
            var method = "DELETE";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    swal("Berhasil!", "Data berhasil dihapus", "success").then(() => {
                        location.reload();
                    });
                },
            });
        }
    });

   

</script>