@{
    ViewData["Title"] = "Pengumuman";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pengumuman</h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-tambah" asp-controller="Pengumuman" asp-action="Create">Tambah Data</a>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Judul</th>
                                        <th scope="col">Jenis</th>
                                        <th scope="col">Isi</th>
                                        <th scope="col">Tanggal Mulai</th>
                                        <th scope="col">Tanggal Selesai</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    loadTable();

    function loadTable() {
        var hostname = "https://localhost:44307/";
        var url = hostname + "GetAllPengumuman";
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var jenisText = getJenisText(item.jenis);
                    var mulai = new Date(item.tanggal_mulai);
                    var selesai = new Date(item.tanggal_selesai);

                    var newRow =
                        "<tr>" +
                        "<td>" +
                        item.judul +
                        "</td>" +
                        "<td>" +
                        jenisText +
                        "</td>" +
                        "<td class='wrap-column'>" +
                        item.isi +
                        "</td>" +
                        "<td>" +
                            mulai.toISOString().split("T")[0] +
                        "</td>" +
                        "<td>" +
                        selesai.toISOString().split("T")[0] +
                        "</td>" +
                        "<td>" +
                        '<a class="btn btn-secondary" href="/Pengumuman/Update?id=' +
                        item.id_pengumuman +
                        '">Update</a>' +
                        '<button class="btn btn-danger" value="' +
                        item.id_pengumuman +
                        '" onclick="hapus(this.value)">Delete</button>' +
                        "</td>" +
                        "</tr>";
                    $("#tbody").append(newRow);
                });
            },
        });
    }

    function getJenisText(jenis) {
        switch (jenis) {
            case 1:
                return "Kegiatan";
            case 2:
                return "Pengumuman";
            case 3:
                return "Teks Berjalan";
            default:
                return "Unknown";
        }
    }

    function hapus(id) {
        var hostname = "https://localhost:44307/";
        var url = hostname + "DeletePengumuman?id_pengumuman=" + id;
        var method = "DELETE";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                alert("Data Berhasil Dihapus");
                location.reload();
            },
        });
    }
</script>