@{
    ViewData["Title"] = "Pengumuman";
}
<style>
     .btn-tambah {
         float: left;
         margin-bottom: 10px;
         margin-right: 10px;
     }

     .search-container {
         margin-bottom: 10px;
     }

     .filter-container {
         margin-bottom: 20px;
     }

     .table-container {
         max-height: 400px; /* Adjust the maximum height as needed */
         overflow-y: auto;
     }

     #statusFilter {
         background-color: #5bc0de;
         color: #fff;
         border: 1px solid #5bc0de;
     }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pengumuman</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-tambah" asp-controller="Pengumuman" asp-action="Create">Tambah Data</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="filter-container">
                                    <label for="x">Filter berdasarkan Status:</label>
                                    <select id="statusFilter" class="form-select">
                                        <option value="">Semua data</option>
                                        <option value="1">Tayang</option>
                                        <option value="4">Tidak Tayang</option>
                                        <option value="3">Dijadwalkan</option>
                                        <option value="5">Selesai</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 search-container">
                            <label for="searchInput"> Mencari Data:</label>
                            <input type="text" id="searchInput" class="form-control" />
                        </div>

                        <div class="table-responsive table-container">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Judul</th>
                                        <th scope="col">Jenis</th>
                                        <th scope="col">Isi</th>
                                        <th scope="col">Tanggal Mulai</th>
                                        <th scope="col">Tanggal Selesai</th>
                                        <th scope="col">Status</th> 
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- ... (previous HTML code) ... -->

<script>

    function ubahStatus(id) {
        console.log(id);
        var confirmed = confirm("Apakah Anda yakin ingin mengubah status menjadi Tidak Aktif?");
        if (!confirmed) {
            return;
        }

        var hostname = "http://10.5.0.123:9091/";
        var url = hostname + "UpdateStatusPengumuman?id_pengumuman=" + id + "&newStatus=4";
        var method = "PATCH";
        var updateData = {
            status: '4'
        };
        var jwtToken = '@ViewBag.Token';

        console.log('Update Data:', updateData);

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(updateData),
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data) {
                console.log('Success:', data);
                alert("Status berhasil diubah menjadi Tidak Aktif");
                location.reload();

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error: ' + textStatus);
                alert('Error: ' + textStatus);
            }
        });
    }


    $(document).ready(function () {
        loadTable();

        $("#statusFilter, #searchInput").on("input", function () {
            $("#tbody").empty();
            loadTable();
        });

        function loadTable() {
            var hostname = "http://10.5.0.123:9091/";
            var url = hostname + "GetAllPengumuman";
            var method = "GET";

            var statusFilter = $("#statusFilter").val();
            var searchInput = $("#searchInput").val(); // Get the value from the search input
            var jwtToken = '@ViewBag.Token';

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + jwtToken
                },
                success: function (data) {
                    var list = data.data;
                    var currentDate = new Date();

                    list.forEach(function (item) {
                        var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
                        var formatter = new Intl.DateTimeFormat('id-ID', options);

                        var formattedTanggalMulai = formatter.format(new Date(item.tanggal_mulai));
                        var formattedTanggalSelesai = formatter.format(new Date(item.tanggal_selesai));

                        var jenisText = getJenisText(item.jenis);
                        var statusText = getStatusText(item.status);

                        if (item.status === 5) {
                            // Set an interval to reload the page every 60 seconds (adjust as needed)
                            setInterval(function () {
                                location.reload();
                            }, 900000);
                        }

                        // Check if the end date is in the past
                        // Check if the end date is in the past and the announcement type is "Kegiatan" or "Pemberitahuan"
                        if (
                            new Date(item.tanggal_selesai) < currentDate &&
                            item.status !== 5 &&
                            (item.jenis === 0 || item.jenis === 1)
                        ) {
                            // Make an asynchronous request to update the status in the database
                            var updateStatusUrl = "http://10.5.0.123:9091/UpdateStatusPengumuman?id_pengumuman=" + item.id_pengumuman + "&newStatus=5";

                            $.ajax({
                                url: updateStatusUrl,
                                method: "PATCH",
                                contentType: "application/json",
                                headers: {
                                    'Authorization': 'Bearer ' + jwtToken
                                },
                                success: function (data) {
                                    console.log('Status updated successfully:', data);
                                    console.log('Reloading...');
                                    location.reload();
                                    
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.log('Error updating status: ' + textStatus);
                                    alert('Error updating status: ' + textStatus);
                                }
                            });

                            // Update the status in memory (optional)
                            item.status = 5;
                        }

                       
                        var statusText = getStatusText(item.status);

                        var newRow =
                            "<tr>" +
                            "<td>" +
                            item.judul +
                            "</td>" +
                            "<td>" +
                            jenisText +
                            "</td>" +
                            "<td class='wrap-column'>" +
                            item.isi +
                            "</td>" +
                            "<td>" +
                            formattedTanggalMulai +
                            "</td>" +
                            "<td>" +
                            formattedTanggalSelesai +
                            "</td>" +
                            "<td>" +
                            statusText +
                            "</td>" +
                            "<td>" +
                            '<a class="btn btn-outline-info btn-icon" href="/Pengumuman/Update?id=' +
                            item.id_pengumuman +
                            '"data-toggle="tooltip" data-placement="top" title="Ubah Data Pengumuman"><i class="bi bi-pencil-square"></i></a>' +
                            '<button class="btn btn-outline-danger btn-icon" value="' + item.id_pengumuman + '" onclick="ubahStatus(\'' + item.id_pengumuman + '\')" style="margin-left: 10px;margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="Pengumuman Tidak Ditayangkan"><i class="bi bi-dash-circle-fill"></i></button>' +
                            "</td>" +
                            "</tr>";

                        // Apply status and search filters
                        if (
                            (statusFilter === "" || item.status.toString() === statusFilter) &&
                            (searchInput === "" ||
                                item.judul.toLowerCase().includes(searchInput.toLowerCase()) ||
                                item.isi.toLowerCase().includes(searchInput.toLowerCase()) ||
                                formattedTanggalMulai.toLowerCase().includes(searchInput.toLowerCase()) ||
                                formattedTanggalSelesai.toLowerCase().includes(searchInput.toLowerCase()) ||
                                jenisText.toLowerCase().includes(searchInput.toLowerCase()) ||
                                statusText.toLowerCase().includes(searchInput.toLowerCase())
                            )
                        ) {
                            $("#tbody").append(newRow);
                        }
                    });
                },
            });
        }
        function isWithinRange(startDate, endDate, currentDate) {
            var startDateTime = new Date(startDate);
            var endDateTime = new Date(endDate);

            // Assuming endDateTime is inclusive (i.e., the event lasts until the end of the day)

            return currentDate >= startDateTime && currentDate <= endDateTime;
        }

        function getJenisText(jenis) {
            switch (jenis) {
                case 0:
                    return "Kegiatan";
                case 1:
                    return "Pemberitahuan";
                case 2:
                    return "Teks Berjalan";
                default:
                    return "Unknown";
            }
        }


        function getStatusText(status) {
            switch (status) {
                case 1:
                    return "Tayang";
                case 4:
                    return "Tidak Tayang";
                case 3:
                    return "Dijadwalkan";
                case 5:
                    return "Selesai";
                default:
                    return "Unknown";
            }
        }

        function hapus(id) {
            var hostname = "http://10.5.0.123:9091/";
            var url = hostname + "DeletePengumuman?id_pengumuman=" + id;
            var method = "DELETE";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    alert("Data Berhasil Dihapus");
                    location.reload();
                },
            });
        }
    });

   

</script>