@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ubah Data Pengumuman</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="id_pengumuman" id="id_pengumuman" value="@ViewBag.IdPengumuman" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="judul" class="control-label">judul Pengumuman</label>
                            <input type="text" name="judul" id="judul" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="jenis" class="control-label">Jenis Pengumuman</label>
                            <select type="text" name="jenis" id="jenis" class="form-control" required>
                                <option value="">-- Pilih Jenis Pengumuman --</option>
                                <option value="1">Kegiatan</option>
                                <option value="2">Pengumuman</option>
                                <option value="3">Teks Berjalan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="isi" class="control-label">Isi Pengumuman</label>
                            <input type="text" name="isi" id="isi" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="tanggal_mulai" class="control-label">Tanggal Mulai</label>
                            <input type="date" name="tanggal_mulai" id="tanggal_mulai" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="tanggal_selesai" class="control-label">Tanggal Selesai</label>
                            <input type="date" name="tanggal_selesai" id="tanggal_selesai" class="form-control" required />
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="simpan()">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    loadPengumuman();

    function loadPengumuman() {
        var id_pengumuman = document.getElementById("id_pengumuman").value;
        var judul = document.getElementById("judul");
        var jenis = document.getElementById("jenis");
        var isi = document.getElementById("isi");
        var tanggal_mulai = document.getElementById("tanggal_mulai");
        var tanggal_selesai = document.getElementById("tanggal_selesai");

        var hostname = "https://localhost:44307/";
        var url = hostname + "GetPengumuman?id_pengumuman=" + id_pengumuman;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                var item = data.data;


                var startDate = new Date(item.tanggal_mulai);
                var endDate = new Date(item.tanggal_selesai);

                var formattedTanggal = startDate.getFullYear() + '-' +
                    ('0' + (startDate.getMonth() + 1)).slice(-2) + '-' +
                    ('0' + startDate.getDate()).slice(-2);

                var formattedTanggalend = endDate.getFullYear() + '-' +
                    ('0' + (endDate.getMonth() + 1)).slice(-2) + '-' +
                    ('0' + endDate.getDate()).slice(-2);

                console.log(formattedTanggal)
                console.log(formattedTanggalend)

                judul.value = item.judul
                jenis.value = item.jenis
                isi.value = item.isi
                tanggal_mulai.value = formattedTanggal
                tanggal_selesai.value = formattedTanggalend 
            },
        });
    }

    function simpan() {
        var id_pengumuman = document.getElementById("id_pengumuman").value;
        var judul = document.getElementById("judul").value;
        var jenis = document.getElementById("jenis").value;
        var isi = document.getElementById("isi").value;
        var tanggal_mulai = document.getElementById("tanggal_mulai").value;
        var tanggal_selesai = document.getElementById("tanggal_selesai").value;

        var myHostname = "https://localhost:44355/";
        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdatePengumuman"; // Change the endpoint accordingly
        var method = "PUT";
        var input = {
            id_pengumuman: id_pengumuman,
            judul: judul,
            isi: isi,
            jenis: jenis,
            tanggal_mulai: tanggal_mulai,
            tanggal_selesai: tanggal_selesai,
        };
        var data = JSON.stringify(input);

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                alert("Data Pengumuman Berhasil Diubah");
                window.location.href = myHostname + "pengumuman/Index";
            },
            error: function () {
                alert("Gagal menyimpan data Pengumuman.");
            },
        });
    }
</script>
